@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html .contenedor {
  width: 100%;
  height: auto;
  margin: 0px auto;
}
html .contenedor .socialMediaUno {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 200px;
  left: 40px;
  z-index: 10;
  animation: socialMedia 1.5s linear;
}
@keyframes socialMedia {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
html .contenedor .socialMediaUno .iconLink {
  width: 100%;
  padding: 7px 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2039215686);
  overflow: visible;
  filter: drop-shadow(0 0 10px #090909);
  transform: scale(100%);
  transition: all 0.3s ease-in-out;
}
html .contenedor .socialMediaUno .iconLink:hover {
  filter: drop-shadow(0 0 10px #3a3a3a);
  transform: scale(105%);
}
html .contenedor .arrow {
  width: 5%;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 10;
  animation: arrowUp 1.5s linear;
}
@keyframes arrowUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(75%);
    opacity: 0;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.3;
  }
  75% {
    transform: translateY(25%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: auto;
  border: 1px solid #090909;
  box-shadow: 0 0 10px 2px #090909;
  background-color: #0f0f0f;
  animation: navbar 1s linear;
  z-index: 100;
}
@keyframes navbar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.header .logo .logoDelord {
  width: 40px;
  transform: scale(100%) rotate(0deg);
  transition: transform 0.5s;
}
.header .logo .logoDelord:hover {
  transform: scale(105%) rotate(270deg);
  filter: drop-shadow(5px 5px 30px #26a4e3);
}
.header #menu {
  display: none;
}
.header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.header .menu ul li {
  text-decoration: none;
}
.header .menu ul li .categoria {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #e3e3e3;
  border-bottom: 1.5px solid transparent;
  transition: all 0.5s ease;
}
.header .menu ul li .categoria .item {
  display: none;
}
.header .menu ul li:hover .categoria {
  color: #eb5a00;
  background-color: rgba(255, 255, 255, 0.2039215686);
  border-bottom: 1.5px solid #eb5a00;
}
.header .menu .socialMedia {
  display: none;
}
.header .drawer {
  display: none;
}
.header .close {
  display: none;
}

.heroSection {
  width: 100%;
  height: auto;
  max-height: max-content;
  background-image: url("../img/pic1.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  object-fit: cover;
  animation: background 0.5s linear;
}
@keyframes background {
  0% {
    transform: scale(0%);
    opacity: 0;
  }
  25% {
    transform: scale(25%);
    opacity: 0;
  }
  50% {
    transform: scale(50%);
    opacity: 0.5;
  }
  75% {
    transform: scale(100%);
    opacity: 0.7;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
.heroSection .hero {
  width: 80%;
  max-width: 1100px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
}
.heroSection .hero .info {
  width: 50%;
  text-align: left;
  animation: info 1s linear;
}
@keyframes info {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(75%);
    opacity: 0;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.3;
  }
  75% {
    transform: translateY(25%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.heroSection .hero .info h1 {
  font-size: 2.2rem;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  color: #e3e3e3;
}
.heroSection .hero .info h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #eb5a00;
}
.heroSection .hero .info .btnAction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heroSection .hero .info .btnAction .ctaDeveloper {
  width: 50%;
  font-size: 1rem;
  margin: 0px 2px;
  text-align: center;
  padding: 25px 35px;
  text-decoration: none;
  background-color: #eb5a00;
  color: #e3e3e3;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.heroSection .hero .info .btnAction .ctaDeveloper:hover {
  background-color: #232323;
  color: #eb5a00;
  box-shadow: 0 0 10px #eb5a00;
  text-shadow: 0 0 10px #eb5a00;
}
.heroSection .hero .info .btnAction .ctaDesigner {
  width: 50%;
  font-size: 1rem;
  margin: 0px 2px;
  text-align: center;
  padding: 25px 35px;
  text-decoration: none;
  background-color: #26A4E3;
  color: #e3e3e3;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.heroSection .hero .info .btnAction .ctaDesigner:hover {
  background-color: #232323;
  color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}
.heroSection .hero .cellphone {
  width: 33%;
  object-fit: cover;
  animation: cellphone 1.5s linear;
}
@keyframes cellphone {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  25% {
    transform: translateX(35%);
    opacity: 0;
  }
  50% {
    transform: translateX(20%);
    opacity: 0.3;
  }
  75% {
    transform: translateX(10%);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.nosotros {
  width: 90%;
  max-width: 1100px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros .subtitulo {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  margin-bottom: 0px;
}
.nosotros .containerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nosotros .containerInfo .laptop {
  width: 65%;
}
.nosotros .containerInfo .info {
  width: 35%;
  height: auto;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px 2px #090909;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}
.nosotros .containerInfo .info p {
  font-size: 1rem;
  color: #a2a2a2;
  border-bottom: 1px solid #2e2e2e;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.nosotros .containerInfo .info p span {
  color: #26a4e3;
}
.nosotros .containerInfo .info .grupos {
  margin-top: 10px;
  width: 30%;
}

.contenedorEmpleos {
  width: 85%;
  max-width: 1100px;
  margin: 150px auto !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
}
.contenedorEmpleos .subtitulo {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  margin-bottom: 100px;
}
.contenedorEmpleos .jobs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
}
.contenedorEmpleos .empleosArticle {
  width: 40%;
  margin-right: 50px;
}
.contenedorEmpleos .empleosArticle .subtitulo {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #e3e3e3;
  margin-bottom: 20px;
}
.contenedorEmpleos .empleosArticle .contenedorEmpleo .paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #a2a2a2;
  margin-bottom: 20px;
}
.contenedorEmpleos .empleosArticle .contenedorEmpleo p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #eb5a00;
  margin-bottom: 40px;
}
.contenedorEmpleos .empleosArticle .btnDesarrolladorDiseñador {
  width: 40%;
  display: block;
  cursor: pointer;
  background-color: #26A4E3;
  border: 1px solid #26A4E3;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #e3e3e3;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.contenedorEmpleos .empleosArticle .btnDesarrolladorDiseñador:hover {
  background-color: #232323;
  border: 1px solid #232323;
  color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}
.contenedorEmpleos .screens {
  width: 60%;
  height: auto;
  margin: 0px auto;
}
.contenedorEmpleos .screens .screen {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  object-fit: cover;
  box-shadow: 0 0 10px 3px #010101;
  cursor: pointer;
  transform: scale(100%);
  transition: all 0.5s ease-in-out;
}
.contenedorEmpleos .screens .screen:hover {
  transform: scale(100.5%);
  filter: grayscale(30%);
  box-shadow: 0 0 21px 7px #010101;
}

.buscadorServices {
  width: 50%;
  margin: 150px auto !important;
}
.buscadorServices p {
  font-size: 1rem;
  text-align: left;
  color: #e3e3e3;
}
.buscadorServices input {
  width: 100%;
  font-size: 0.8rem;
  border-radius: 50px !important;
  border: 1px solid #090909;
  box-shadow: 0 0 10px 2px #090909;
  background-color: #0f0f0f;
  color: #a2a2a2;
  font-family: "Poppins", sans-serif;
  padding: 20px 35px;
}

.cards {
  width: 85%;
  max-width: 1100px;
  margin: 150px auto;
}
.cards .subtitle {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}
.cards .contenedorDevelopers .cardDev {
  background-color: #0f0f0f;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px 3px;
  flex-wrap: wrap;
  border: 1px solid #0f0f0f;
  transform: scale(100%);
  box-shadow: 0 0 10px 2px #090909;
  transition: transform 0.3s;
}
.cards .contenedorDevelopers .cardDev:hover {
  background-color: #2b1000;
  box-shadow: 0 0 10px #eb5a00;
  transform: scale(98%);
  border: 1px solid transparent;
  text-shadow: 0 0 10px #eb5a00;
}
.cards .contenedorDevelopers .cardDev .card {
  width: 55px;
  border: 1px solid transparent;
  object-fit: contain;
}
.cards .contenedorDevelopers .cardDev h3 {
  color: #a2a2a2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.cards .anuncio {
  color: #a2a2a2;
  font-size: 1rem;
  margin: 40px auto;
}
.cards .contactanosDesarrolladores {
  width: 20%;
  font-size: 1rem;
  text-align: center;
  color: #e3e3e3;
  background-color: #eb5a00;
  border: 1px solid #eb5a00;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 35px;
  margin: 0px auto 100px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.cards .contactanosDesarrolladores:hover {
  background-color: #232323;
  border: 1px solid #232323;
  color: #eb5a00;
  box-shadow: 0 0 10px #eb5a00;
  text-shadow: 0 0 10px #eb5a00;
}
.cards .contenedorDesigners .cardDesigners {
  background-color: #0f0f0f;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px 3px;
  flex-wrap: wrap;
  border: 1px solid #0f0f0f;
  transform: scale(100%);
  box-shadow: 0 0 10px 2px #090909;
  transition: transform 0.3s;
}
.cards .contenedorDesigners .cardDesigners:hover {
  background-color: #00344e;
  border: 1px solid transparent;
  transform: scale(98%);
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}
.cards .contenedorDesigners .cardDesigners .card {
  width: 55px;
  border: 1px solid transparent;
  object-fit: contain;
}
.cards .contenedorDesigners .cardDesigners h3 {
  color: #a2a2a2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.cards .contactanosDiseñadores {
  width: 20%;
  font-size: 1rem;
  text-align: center;
  color: #e3e3e3;
  background-color: #26A4E3;
  border: 1px solid #26A4E3;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 35px;
  margin: 0px auto 100px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.cards .contactanosDiseñadores:hover {
  background-color: #232323;
  border: 1px solid #232323;
  color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}

.bannerPublicidadUno {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px 2px #090909;
  background-color: #0f0f0f;
  margin: 150px auto;
}
.bannerPublicidadUno .banner {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}
.bannerPublicidadUno .laptop {
  width: 90%;
}

.bannerPublicidadDos {
  width: 100%;
  height: auto;
  background-image: url("../img/backgroundSteps2.png");
  background-attachment: fixed;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}
.bannerPublicidadDos .bannerSection {
  width: 80%;
  max-width: 1100px;
  margin: 100px 0px;
}
.bannerPublicidadDos .bannerSection .banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}
.bannerPublicidadDos .bannerSection .banner .itemCellphones {
  width: 50%;
  height: 100%;
}
.bannerPublicidadDos .bannerSection .banner .accordion {
  width: 100% !important;
  margin: auto auto !important;
}
.bannerPublicidadDos .bannerSection .banner .accordion .accordion-Item .accordion-header {
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif !important;
}
.bannerPublicidadDos .bannerSection .banner .accordion .accordion-Item .accordion-header .accordion-button {
  box-shadow: none !important;
}
.bannerPublicidadDos .bannerSection .banner .accordion .accordion-body {
  font-family: "Poppins", sans-serif !important;
  font-size: 0.8rem !important;
  font-weight: 400;
  color: #0c0c0c !important;
}

.contenedorMatch {
  width: 85%;
  max-width: 1100px;
  height: auto;
  margin: 150px auto;
  max-height: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contenedorMatch .bannerMatch {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
}
.contenedorMatch .bannerMatch .sideCompany, .contenedorMatch .bannerMatch .sideStaff {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contenedorMatch .bannerMatch .sideCompany .cardCompany, .contenedorMatch .bannerMatch .sideStaff .cardCompany {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  border-radius: 20px;
  margin: 30px auto;
  padding: 5px 15px;
  column-gap: 15px;
  animation: company 10000ms linear infinite;
}
@keyframes company {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  25% {
    transform: translateY(-100%);
    opacity: 1;
  }
  50% {
    transform: translateY(-250%);
    opacity: 1;
  }
  75% {
    transform: translateY(-450%);
    opacity: 1;
  }
  100% {
    transform: translateY(-600%);
    opacity: 0;
  }
}
.contenedorMatch .bannerMatch .sideCompany .cardStaff, .contenedorMatch .bannerMatch .sideStaff .cardStaff {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  border-radius: 20px;
  margin: 30px auto;
  padding: 5px 15px;
  column-gap: 15px;
  animation: company 10000ms linear infinite;
  animation: staff 10000ms linear infinite;
}
@keyframes staff {
  0% {
    transform: translateY(-750%);
    opacity: 0;
  }
  25% {
    transform: translateY(-600%);
    opacity: 1;
  }
  50% {
    transform: translateY(-450%);
    opacity: 1;
  }
  75% {
    transform: translateY(-300%);
    opacity: 1;
  }
  100% {
    transform: translateY(-150%);
    opacity: 0;
  }
}
.contenedorMatch .bannerMatch .sideCompany .picCompany, .contenedorMatch .bannerMatch .sideCompany .picStaff, .contenedorMatch .bannerMatch .sideStaff .picCompany, .contenedorMatch .bannerMatch .sideStaff .picStaff {
  width: 35px;
}
.contenedorMatch .bannerMatch .sideCompany .lines, .contenedorMatch .bannerMatch .sideStaff .lines {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contenedorMatch .bannerMatch .sideCompany .lines .line, .contenedorMatch .bannerMatch .sideStaff .lines .line {
  width: 100%;
  height: 10px;
  background-color: #232323;
  margin: 2px auto;
  border-radius: 50px;
}
.contenedorMatch .bannerMatch .sideCompany .company, .contenedorMatch .bannerMatch .sideCompany .staff, .contenedorMatch .bannerMatch .sideStaff .company, .contenedorMatch .bannerMatch .sideStaff .staff {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contenedorMatch .bannerMatch .sideCompany .company .iconCompany, .contenedorMatch .bannerMatch .sideCompany .company .iconStaff, .contenedorMatch .bannerMatch .sideCompany .staff .iconCompany, .contenedorMatch .bannerMatch .sideCompany .staff .iconStaff, .contenedorMatch .bannerMatch .sideStaff .company .iconCompany, .contenedorMatch .bannerMatch .sideStaff .company .iconStaff, .contenedorMatch .bannerMatch .sideStaff .staff .iconCompany, .contenedorMatch .bannerMatch .sideStaff .staff .iconStaff {
  width: 18px;
}
.contenedorMatch .bannerMatch .sideCompany .descriptionCompany, .contenedorMatch .bannerMatch .sideStaff .descriptionCompany {
  font-size: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  color: #eb5a00;
  background-color: rgba(235, 90, 0, 0.2196078431);
  padding: 4px 8px;
  border-radius: 50px;
}
.contenedorMatch .bannerMatch .sideCompany .descriptionStaff, .contenedorMatch .bannerMatch .sideStaff .descriptionStaff {
  font-size: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  color: #26A4E3;
  background-color: rgba(38, 164, 227, 0.2196078431);
  padding: 4px 8px;
  border-radius: 50px;
}
.contenedorMatch .centerMatch {
  background-color: transparent;
  border-radius: 20px;
  margin: 0px auto;
  z-index: 10;
}
.contenedorMatch .centerMatch .center {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.contenedorMatch .centerMatch .center .blockStaff .logo, .contenedorMatch .centerMatch .center .blockCompany .logo {
  width: 55px;
}
.contenedorMatch .centerMatch .center .letterMatch .match {
  font-family: "Press Start 2P", cursive;
  filter: drop-shadow(0 0 5px #eb5a00);
  font-size: 5rem;
  color: #3a3a3a;
  margin: 25px auto;
}

.containerDevelopment, .containerDesign {
  width: 85%;
  max-width: 1100px;
  margin: 150px auto;
}

.containerDevelopment .titleDevelopment {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  text-align: left;
  padding-bottom: 100px;
}
.containerDevelopment .vacanciesDevelopment {
  display: flex;
  flex-direction: column;
}
.containerDevelopment .vacanciesDevelopment .cardJob {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px 2px #090909;
  border-radius: 16px;
  position: relative;
  padding: 0px 50px;
  transform: scale(100%);
  transition: all 0.3s;
}
.containerDevelopment .vacanciesDevelopment .cardJob:hover {
  box-shadow: 0 0 10px 1px #eb5a00;
  transform: scale(100.5%);
}
.containerDevelopment .vacanciesDevelopment .cardJob .job {
  width: 7%;
  border-radius: 50%;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .info {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .info .position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .info .position h4 {
  color: #a2a2a2;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .info .local {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #2e2e2e;
  padding: 10px 0;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .info .local .dataLink {
  width: 7%;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .info .local p {
  align-self: flex-end;
  justify-content: space-between;
  color: #a2a2a2;
  font-size: 0.8rem;
  border-radius: 50px;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .info .local p span {
  color: #eb5a00;
  font-size: 0.8rem;
  background-color: rgba(235, 90, 0, 0.2196078431);
  border-radius: 50px;
  padding: 5px 5px;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .links {
  align-self: flex-end;
  margin: 10px -20px;
  position: absolute;
  top: -5px;
  right: 0px;
}
.containerDevelopment .vacanciesDevelopment .cardJob .cardVacancy .links .iconLink {
  width: 15%;
  transform: scale(100%);
  list-style: none;
}
.containerDevelopment .vacanciesDevelopment .cardJob .postulate {
  padding: 10px 5px;
  margin-bottom: 20px;
  background-color: #232323;
  color: #e3e3e3;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.3s;
  align-self: end;
  font-size: 1rem;
  font-weight: 600;
}
.containerDevelopment .vacanciesDevelopment .cardJob .postulate:hover {
  background-color: #eb5a00;
  box-shadow: 0 0 10px #eb5a00;
}
.containerDevelopment .vacanciesDevelopment .cardJob .postulate .check {
  width: 12%;
  height: 12%;
}

.containerDesign .titleDesign {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  text-align: left;
  padding-bottom: 100px;
}
.containerDesign .vacanciesDesign {
  display: flex;
  flex-direction: column;
}
.containerDesign .vacanciesDesign .cardJob {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px 2px #090909;
  border-radius: 16px;
  position: relative;
  padding: 0px 50px;
  transform: scale(100%);
  transition: all 0.3s;
}
.containerDesign .vacanciesDesign .cardJob:hover {
  box-shadow: 0 0 10px 1px #26A4E3;
  transform: scale(100.5%);
}
.containerDesign .vacanciesDesign .cardJob .job {
  width: 7%;
  border-radius: 50%;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 50px;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .info .position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .info .position h4 {
  color: #a2a2a2;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .info .local {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #2e2e2e;
  padding: 10px 0;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .info .local .dataLink {
  width: 7%;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .info .local p {
  align-self: flex-end;
  justify-content: space-between;
  color: #a2a2a2;
  font-size: 0.8rem;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .info .local p span {
  color: #26A4E3;
  font-size: 0.8rem;
  background-color: rgba(38, 164, 227, 0.2196078431);
  border-radius: 50px;
  padding: 5px 5px;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .links {
  align-self: flex-end;
  justify-self: flex-end;
  margin: 10px -20px;
  position: absolute;
  top: -5px;
  right: 0;
}
.containerDesign .vacanciesDesign .cardJob .cardVacancy .links .iconLink {
  width: 15%;
  transform: scale(100%);
}
.containerDesign .vacanciesDesign .cardJob .postulate {
  padding: 10px 5px;
  margin-bottom: 20px;
  background-color: #232323;
  color: #e3e3e3;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 600;
}
.containerDesign .vacanciesDesign .cardJob .postulate:hover {
  background-color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
}
.containerDesign .vacanciesDesign .cardJob .postulate .check {
  width: 12%;
  height: 12%;
}

.patrocinadores {
  width: 85%;
  max-width: 1100px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.patrocinadores .subtitulo {
  color: white;
  font-size: 1.87rem;
  font-weight: 600;
  margin: 0px auto 100px;
}
.patrocinadores .empresasPatrocinadorasUno {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  animation: carouselUno 60s linear infinite;
}
@keyframes carouselUno {
  0% {
    transform: translate(0%);
  }
  25% {
    transform: translate(-25%);
  }
  50% {
    transform: translate(-50%);
  }
  75% {
    transform: translate(-75%);
  }
  100% {
    transform: translate(-100%);
  }
}
.patrocinadores .empresasPatrocinadorasUno img {
  width: 100px;
  margin: 0px 50px;
  filter: grayscale(100%);
  object-fit: cover;
}
.patrocinadores .empresasPatrocinadorasDos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  animation: carouselDos 60s linear infinite;
}
@keyframes carouselDos {
  0% {
    transform: translate(-100%);
  }
  25% {
    transform: translate(-75%);
  }
  50% {
    transform: translate(-50%);
  }
  75% {
    transform: translate(-25%);
  }
  100% {
    transform: translate(0%);
  }
}
.patrocinadores .empresasPatrocinadorasDos img {
  width: 100px;
  margin: 0px 50px;
  filter: grayscale(100%);
  object-fit: cover;
}

.containerTestimony {
  width: 85%;
  max-width: 1100px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerTestimony .headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 50px 0px 50px;
}
.containerTestimony .headline .subtitle {
  color: white;
  font-size: 1.87rem;
  font-weight: 600;
  text-align: center;
}
.containerTestimony .headline .paragraph {
  font-size: 1rem;
  text-align: left;
  color: white;
}
.containerTestimony .headline .promotion {
  font-size: 1rem;
  text-align: left;
  color: #EB5A00;
  background-color: rgba(235, 90, 0, 0.2196078431);
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 10px;
}
.containerTestimony .subtitulo {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  margin-bottom: 100px;
}
.containerTestimony .bundleOpinion .groupLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
}
.containerTestimony .bundleOpinion .groupLine .cardOpinionShort {
  width: 32%;
  color: #a2a2a2;
  background-color: #101010;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 2px #090909;
  margin: 7px;
  text-align: left;
}
.containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionTop {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionTop .quotationMark {
  opacity: 0.1;
}
.containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionTop .rating {
  width: 30%;
  filter: drop-shadow(0px 0px 2px);
  opacity: 0.8;
}
.containerTestimony .bundleOpinion .groupLine .opinionMedium {
  width: 90%;
  padding: 10px 10px;
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
}
.containerTestimony .bundleOpinion .groupLine .opinionMedium .paragraph {
  font-size: 0.8rem;
  color: #a2a2a2;
}
.containerTestimony .bundleOpinion .groupLine .opinionBottom {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: relative;
}
.containerTestimony .bundleOpinion .groupLine .opinionBottom .user {
  width: 15%;
}
.containerTestimony .bundleOpinion .groupLine .opinionBottom .data {
  position: absolute;
  top: 12px;
  left: 60px;
}
.containerTestimony .bundleOpinion .groupLine .opinionBottom .data p {
  font-size: 0.6rem;
  color: #a2a2a2;
  margin-bottom: 0px;
}
.containerTestimony .bundleOpinion .groupLine .opinionBottom .socialMedia {
  align-self: flex-end;
}
.containerTestimony .bundleOpinion .groupLine .opinionBottom .socialMedia a {
  text-decoration: none;
}
.containerTestimony .bundleOpinion .groupLine .opinionBottom .socialMedia .iconLink {
  width: 20px;
}
.containerTestimony .verMas {
  width: 20%;
  font-size: 1rem;
  text-align: center;
  color: #e3e3e3;
  background-color: #26A4E3;
  border: 1px solid #26A4E3;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 60px;
  padding: 20px 35px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.containerTestimony .verMas:hover {
  background-color: #232323;
  border: 1px solid #232323;
  color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}

.accordion {
  width: 85%;
  max-width: 1100px;
  height: auto;
  margin: 150px auto !important;
}
.accordion .subtitle {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  margin: 0px auto 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.accordion .scrollDownAnswers {
  width: 100%;
  height: auto;
  display: block;
  margin: 0px auto;
}
.accordion .scrollDownAnswers details {
  padding: 10px 0px;
}
.accordion .scrollDownAnswers details summary {
  cursor: pointer;
  color: #a2a2a2;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #2e2e2e;
}
.accordion .scrollDownAnswers details p {
  color: rgb(199, 199, 199);
  font-size: 0.8rem;
  font-weight: 400;
  margin: 15px auto 0px;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px 2px #090909;
  border-radius: 10px;
}
.accordion .whatsApp {
  width: 20%;
  display: block;
  cursor: pointer;
  background-color: #26A4E3;
  border: 1px solid #26A4E3;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  margin: 40px auto;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.accordion .whatsApp:hover {
  background-color: #232323;
  border: 1px solid #232323;
  color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}

.formContainer {
  width: 85%;
  max-width: 1100px;
  height: auto;
  margin: -50px auto 100px !important;
  text-align: center;
}
.formContainer .subtitulo {
  color: #e3e3e3;
  font-size: 1.87rem;
  font-weight: 600;
  margin-bottom: 100px;
}
.formContainer .locationForm .mapa {
  border-radius: 20px;
  filter: drop-shadow(0 0 7px #a2a2a2);
  opacity: 0.2;
  transform: scale(100%);
  transition: all 0.5s ease-in-out;
}
.formContainer .locationForm .mapa:hover {
  border-radius: 30px;
  filter: drop-shadow(0 0 3px #a2a2a2);
  opacity: 0.4;
  transform: scale(103%);
}
.formContainer .locationForm .form .formControl {
  border-radius: 50px !important;
}
.formContainer .locationForm .form .form-floating {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px 2px #090909;
  border-radius: 50px !important;
}
.formContainer .locationForm .form .form-floating label {
  display: block;
  font-weight: 400;
  font-size: 0.8rem;
  border-radius: 50px !important;
}
.formContainer .locationForm .form textarea, .formContainer .locationForm .form input {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 20px !important;
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid transparent;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px 2px #090909;
  color: #a2a2a2;
}
.formContainer .locationForm .form .btnAccion {
  width: 46%;
  display: inline;
  cursor: pointer;
  background-color: #26A4E3;
  border: 1px solid #26A4E3;
  border-radius: 50px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #e3e3e3;
  margin: 0px 5px;
  padding: 20px 35px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}
.formContainer .locationForm .form .btnAccion:hover {
  background-color: #232323;
  border: 1px solid #232323;
  color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}

.footer {
  width: 100%;
  border: 1px solid #090909;
  box-shadow: 0 0 10px 2px #090909;
  background-color: #0f0f0f;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer .mainFooter {
  width: 75%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.footer .mainFooter .services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer .mainFooter .services .logo {
  width: 40px;
}
.footer .mainFooter .services .apps {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 1px solid #2e2e2e;
}
.footer .mainFooter .services .apps h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: #a2a2a2;
}
.footer .mainFooter .services .apps .app {
  width: 100px;
  filter: contrast(85%);
  text-align: flex-start;
}
.footer .mainFooter .menu ul {
  display: flex;
  flex-direction: column;
}
.footer .mainFooter .menu ul li {
  list-style: none;
  text-align: start;
}
.footer .mainFooter .menu ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #a2a2a2;
}
.footer .mainFooter .menu ul li a:hover {
  text-decoration: underline;
}
.footer .footerMedium {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footerMedium .news {
  display: flex;
  flex-direction: column;
}
.footer .footerMedium .news .inscribir {
  text-align: center;
  color: #a2a2a2;
  font-size: 0.8rem;
}
.footer .footerMedium .news .accion {
  margin-top: 10px;
  display: flex;
}
.footer .footerMedium .news .accion input {
  width: 250px;
  border-radius: 50px !important;
  border: 1px solid #090909;
  box-shadow: 0 0 10px 2px #090909;
  background-color: #0f0f0f;
  color: #a2a2a2;
  font-family: "Poppins", sans-serif;
  margin: 0px 5px;
  text-align: left;
  padding-left: 20px;
}
.footer .footerMedium .news .accion .btnAccion {
  width: 150px;
  font-size: 1rem;
  text-align: center;
  color: #e3e3e3;
  background-color: #26A4E3;
  border: 1px solid #26A4E3;
  border-radius: 50px !important;
  cursor: pointer;
  padding: 12.5px 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.footer .footerMedium .news .accion .btnAccion:hover {
  background-color: #232323;
  border: 1px solid #232323;
  color: #26A4E3;
  box-shadow: 0 0 10px #26A4E3;
  text-shadow: 0 0 10px #26A4E3;
}
.footer .containerSocialMedia .socialMedia {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px auto;
  padding: 0px;
}
.footer .containerSocialMedia .socialMedia li {
  list-style: none;
}
.footer .containerSocialMedia .socialMedia li a {
  text-decoration: none;
}
.footer .containerSocialMedia .socialMedia li a .iconLink {
  width: 20px;
  transform: scale(100%);
  transition: transform 0.3s ease-in-out;
}
.footer .containerSocialMedia .socialMedia li a .iconLink:hover {
  filter: drop-shadow(0 0 10px #3a3a3a);
  transform: scale(112%);
}
.footer .containerSocialMedia p {
  margin: 0px auto;
  text-align: center;
  border-top: 1px solid #2e2e2e;
  padding-top: 5px;
  font-size: 0.6rem;
  color: #e3e3e3;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #0c0c0c;
}
.mainContainer .main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  position: relative;
}
.mainContainer .main .item {
  width: 50%;
  z-index: 0;
  position: fixed;
  top: 15%;
}
.mainContainer .main .item1 {
  width: 45vw;
  z-index: 1;
  position: fixed;
  bottom: 38%;
  filter: drop-shadow(4px 4px 10px #e3e3e3);
  animation: motion 3s alternate infinite;
}
@keyframes motion {
  0% {
    transform: translateY(0%);
    filter: drop-shadow(4px 4px 10px #26A4E3);
  }
  100% {
    transform: translateY(60%);
    filter: drop-shadow(4px 4px 10px #eb5a00);
  }
}
.mainContainer .main .item2 {
  width: 50vw;
  z-index: 1;
  position: fixed;
  bottom: 30%;
}
.mainContainer .main .item3 {
  width: 90vw;
  z-index: 0;
  position: fixed;
  bottom: 25%;
}
.mainContainer .return {
  width: 200px;
  position: fixed;
  bottom: 5%;
  left: 10%;
  padding: 20px 20px;
  background-color: #101010;
  color: #e3e3e3;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  font-size: 12px;
  box-shadow: 0 0 10px 5px #090909;
  transition: all 0.3s;
}
.mainContainer .return:hover {
  background-color: #3a3a3a;
  box-shadow: 0 0 10px #3a3a3a;
}

@media (max-width: 1250px) {
  .contenedor .heroSection {
    width: 100vw;
    height: 100vh;
    margin: 400px auto;
  }
  .contenedor .heroSection .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor .heroSection .hero .info {
    width: 90%;
    margin: 0px auto 100px auto;
  }
  .contenedor .heroSection .hero .info .btnAction {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 80px auto 0px;
  }
  .contenedor .heroSection .hero .cellphone {
    width: 43%;
  }
  .contenedor .socialMediaUno, .contenedor .arrowUp {
    display: none !important;
  }
  .footer .mainFooter {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .contenedor .nosotros .subtitulo {
    margin-bottom: 100px;
  }
  .contenedor .nosotros .containerInfo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contenedor .nosotros .containerInfo .info {
    width: 60%;
    height: auto;
    background-color: #0f0f0f;
    box-shadow: 0 0 10px 2px #090909;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px auto;
    overflow: hidden;
  }
  .contenedor .nosotros .containerInfo .laptop {
    width: 80%;
  }
  .contenedor .contenedorEmpleos {
    width: 100%;
  }
  .contenedor .contenedorEmpleos .jobs {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle {
    width: 70%;
    margin: 0px auto;
  }
  .contenedor .contenedorEmpleos .screens {
    width: 80%;
    height: auto;
    margin: 100px auto 0px auto;
  }
  .contenedor .contenedorMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort {
    width: 55%;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBottom .data {
    margin: 10px auto 10px 30px;
  }
  .contenedor .bannerPublicidadDos .bannerSection .banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor .bannerPublicidadDos .bannerSection .banner .itemCellphones .accordion {
    gap: 0 !important;
  }
  .contenedor .accordion .whatsApp {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .contenedor .heroSection .hero .info .btnAction .ctaDeveloper, .contenedor .heroSection .hero .info .btnAction .ctaDesigner {
    width: 80%;
  }
  .contenedor .heroSection .hero .cellPhone {
    width: 53%;
  }
  .contenedor .nosotros .containerInfo .info {
    width: 70%;
  }
  .contenedor .contenedorEmpleos .empleosArticle {
    width: 70%;
    margin: 0px auto;
  }
  .contenedor .contenedorEmpleos .verMas {
    width: 25%;
  }
  .contenedor .contenedorMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch {
    width: 60%;
    margin: 0 auto;
  }
  .contenedor .bannerPublicidadDos .bannerSection .banner .itemCellphones {
    width: 70%;
  }
}
@media (max-width: 850px) {
  .header {
    width: 100vw;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
  }
  .header .menu {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #0c0c0c;
    box-shadow: 0 0 5px #090909;
    transform: translateX(100%);
    transition: transform 0.3s;
  }
  .header .menu ul {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .header .menu ul li {
    width: inherit;
    padding: 0px 0px 0px 50px;
  }
  .header .menu ul li .categoria {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 350px 20px 40px !important;
    margin-left: -83px !important;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
  }
  .header .menu ul li .categoria .item {
    width: 24px;
    margin-right: 20px;
    display: flex;
    transition: all 0.5s ease;
  }
  .header .menu ul li:hover .categoria {
    background-color: #0f0f0f;
  }
  .header .menu .socialMedia {
    display: flex;
    justify-content: center;
  }
  .header .menu .socialMedia .iconLink {
    width: 20px;
    transform: scale(100%);
    transition: transform 0.3s ease-in-out;
    margin: 0 3px;
  }
  .header .menu .socialMedia .iconLink:hover {
    filter: drop-shadow(0 0 10px #3a3a3a);
    transform: scale(112%);
  }
  .header #menu:checked ~ .menu {
    transform: translate(0%);
    z-index: 10;
  }
  .header .drawer {
    display: block;
    width: 32px;
    cursor: pointer;
    transform: scale(100%) rotate(0deg);
    transition: all 0.3s;
  }
  .header .drawer:hover {
    transform: scale(105%) rotate(270deg);
  }
  .header .close {
    width: 32px;
    display: block;
    position: absolute;
    top: 30px;
    left: 40px;
    cursor: pointer;
    transform: scale(100%) rotate(0deg);
    transition: all 0.3s;
  }
  .header .close:hover {
    transform: scale(105%) rotate(270deg);
  }
  .contenedor .heroSection .hero .cellphone {
    width: 53%;
  }
  .contenedor .nosotros .containerInfo .info {
    width: 80%;
  }
  .contenedor .contenedorMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch {
    width: 65%;
    margin: 0 auto;
  }
  .contenedor .contenedorMatch .bannerMatch .centerMatch .center .letterMatch .match {
    font-size: 5rem;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBottom .data {
    margin: 5px auto 5px 15px;
  }
  .contenedor .patrocinadores {
    width: 85%;
  }
  .contenedor .patrocinadores .empresasPatrocinadorasUno img, .contenedor .patrocinadores .empresasPatrocinadorasDos img {
    width: 85px;
  }
  .contenedor .accordion .whatsApp {
    width: 40%;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .mainFooter {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5;
  }
  .footer .mainFooter .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    margin-top: 40px;
  }
  .footer .mainFooter .footerMedium .news {
    width: auto;
  }
  .footer .mainFooter .footerMedium .news .inscribir {
    text-align: left;
  }
  .footer .mainFooter .footerMedium .news .accion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .mainFooter .footerMedium .news .accion input {
    margin: 10px -5px;
  }
  .footer .mainFooter .footerMedium .news .accion .btnAccion {
    width: 100%;
  }
  .footer .mainFooter .menu ul {
    margin-left: -32px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 0px 40px;
  }
  .header .menu {
    width: 55vw;
    height: 100%;
  }
  .header .menu ul {
    display: flex;
  }
  .header .menu ul li .categoria {
    padding: 25px auto !important;
    border-radius: 0px !important;
    transition: all 0.5s ease;
  }
  .header .menu ul li:hover .categoria {
    background-color: #0f0f0f;
  }
  .header .menu .socialMedia {
    display: flex;
    justify-content: center;
  }
  .contenedor .heroSection .hero {
    width: 90%;
    margin: -100px auto;
  }
  .contenedor .heroSection .hero .info .btnAction {
    width: 70%;
    margin: 0px auto;
  }
  .contenedor .heroSection .hero .info .btnAction .ctaDeveloper, .contenedor .heroSection .hero .info .btnAction .ctaDesigner {
    width: 100%;
  }
  .contenedor .heroSection .hero .cellphone {
    width: 53%;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle {
    width: 80%;
    margin: 0px auto;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle .contenedorEmpleo .btnDesarrolladorDiseñador {
    width: 50%;
  }
  .contenedor .contenedorMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch {
    width: 80%;
    margin: 0px auto;
  }
  .contenedor .contenedorMatch .bannerMatch .centerMatch .center .letterMatch .match {
    font-size: 4rem;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort {
    width: 80%;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBottom .data {
    margin: 0px auto 0px 10px;
  }
  .contenedor .containerTestimony .verMas {
    width: 40%;
  }
  .contenedor .accordion {
    width: 100%;
  }
  .footer .mainFooter {
    width: 60%;
    margin: 40px auto;
  }
}
@media (max-width: 490px) {
  .header .menu {
    width: 100%;
    height: 100%;
  }
  .header .menu ul li .categoria {
    font-size: 0.8rem !important;
  }
  .contenedor .heroSection .hero .info h1 {
    font-size: 1.5rem;
  }
  .contenedor .heroSection .hero .info h3 {
    font-size: 1.2rem;
  }
  .contenedor .heroSection .hero .info .btnAction {
    width: 100%;
    margin: 0px auto;
  }
  .contenedor .heroSection .hero .info .btnAction .ctaDeveloper, .contenedor .heroSection .hero .info .btnAction .ctaDesigner {
    width: 100%;
    font-size: 0.8rem;
  }
  .contenedor .heroSection .hero .cellphone {
    width: 83%;
  }
  .contenedor .nosotros .subtitulo {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contenedor .nosotros .containerInfo .laptop {
    width: 100%;
  }
  .contenedor .nosotros .containerInfo .info {
    width: 100%;
  }
  .contenedor .nosotros .containerInfo .info p {
    font-size: 0.8rem;
  }
  .contenedor .contenedorEmpleos .subtitulo {
    font-size: 1.2rem;
  }
  .contenedor .contenedorEmpleos .jobs {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle {
    width: 90%;
    margin: 0px auto;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle .subtitulo {
    font-size: 1.5rem;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle .contenedorEmpleo p {
    font-size: 0.8rem;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle .contenedorEmpleo .paragraph {
    font-size: 0.8rem;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle .contenedorEmpleo .btnDesarrolladorDiseñador {
    width: 95%;
    font-size: 0.8rem;
    margin: 0px auto;
  }
  .contenedor .contenedorEmpleos .screens {
    width: 90%;
    height: auto;
    margin: 100px auto;
  }
  .contenedor .contenedorMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch .centerMatch .center .letterMatc .match {
    font-size: 3rem;
  }
  .contenedor .containerTestimony .subtitulo {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort {
    width: 90%;
    margin: 0px auto;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBotto .data {
    margin: 0px auto -2px -10px;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBotto .paragraph {
    font-size: 0.6rem;
  }
  .contenedor .containerTestimony .verMas {
    width: 90%;
    font-size: 0.8rem;
  }
  .contenedor .patrocinadores .subtitulo {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contenedor .patrocinadores .empresasPatrocinadorasUno img, .contenedor .patrocinadores .empresasPatrocinadorasDos img {
    width: 65px;
  }
  .contenedor .bannerPublicidadDos .bannerSection .banner .itemCellphones {
    width: 100%;
  }
  .contenedor .bannerPublicidadDos .bannerSection .banner .accordion {
    width: 100%;
  }
  .contenedor .bannerPublicidadDos .bannerSection .banner .accordion .accordion-item .accordion-header .title {
    font-size: 0.8rem !important;
  }
  .contenedor .bannerPublicidadDos .bannerSection .banner .accordion .accordion-item .paragraph {
    font-size: 0.75rem !important;
  }
  .contenedor .accordion .subtitle {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contenedor .accordion .scrollDownAnswers summary {
    font-size: 0.8rem !important;
  }
  .contenedor .accordion .scrollDownAnswers p {
    font-size: 0.75rem !important;
  }
  .contenedor .accordion .whatsApp {
    width: 100%;
    font-size: 0.8rem;
  }
  .footer .mainFooter .footerMedium .news .accion .btnAccion {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .contenedor .contenedorEmpleos .jobs {
    width: 90%;
  }
  .contenedor .contenedorEmpleos .jobs .empleosArticle {
    width: 90%;
  }
  .contenedor .contenedorMatch {
    width: 100%;
  }
  .contenedor .contenedorMatch .bannerMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch .centerMatch .center .letterMatch .match {
    font-size: 2.5rem;
  }
  .contenedor .containerTestimony {
    width: 100%;
    margin: 0px auto;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort {
    width: 100%;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBottom .data {
    margin: 0px 0px 0px -5px;
  }
  .footer .footerMedium .news .accion input {
    width: 100%;
  }
  .footer .footerMedium .news .accion .btnAccion {
    width: 100%;
  }
  .footer .mainFooter {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
  }
}
@media (max-width: 326px) {
  .contenedor .contenedorMatch {
    width: 100%;
  }
  .contenedor .contenedorMatch .bannerMatch {
    width: 90%;
  }
  .contenedor .contenedorMatch .bannerMatch .centerMatch .center {
    width: 100%;
  }
  .contenedor .contenedorMatch .bannerMatch .centerMatch .center .letterMatch .match {
    font-size: 1.5rem;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBottom .data {
    margin: 0px 0px 0px -17px;
  }
}
@media (max-width: 1250px) {
  .contenedor .buscadorServices {
    width: 70%;
  }
  .contenedor .card .contenedorDevelopers .cardDev, .contenedor .card .contenedorDevelopers .cardDesigners, .contenedor .card .contenedorDesigners .cardDev, .contenedor .card .contenedorDesigners .cardDesigners {
    width: 150px;
  }
  .contenedor .card .contactanosDesarrolladores, .contenedor .card .contactanosDiseñadores {
    width: 20%;
  }
  .contenedor .accordion .whatsApp {
    width: 20%;
  }
}
@media (max-width: 1200px) {
  .contenedor .containerTestimony .headline {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }
  .contenedor .containerDevelopment, .contenedor .containerDesign {
    width: 70%;
    margin: 0px auto;
  }
  .contenedor .containerTestimony .headline {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort {
    width: 60%;
  }
  .contenedor .containerTestimony .bundleOpinion .groupLine .cardOpinionShort .opinionBottom .data {
    margin: 10px auto 10px 25px;
  }
  .contenedor .accordion .whatsApp {
    width: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
