// Banner Advertising
.bannerPublicidadUno{
    width:$widthTotal;
    height: auto;
    box-shadow: 0 0 10px 2px $shadowColor;
    background-color: $backgroundColor;
    margin: $sectionMargin;
    .banner{
        width: $widthTotal;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $sectionMargin;
    }
    .laptop{
        width: 90%;
    }
}
.bannerPublicidadDos{
    width:$widthTotal;
    height: auto;
    background-image:url("../img/backgroundSteps2.webp");
    background-attachment: fixed;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $sectionMargin;
    .bannerSection{
        width: 85%;
        max-width: 1100px;
        margin: 100px 0px;
        .banner{
            width: 100%;
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            gap:10px;
            .itemCellphones{
                width: 100%;
                max-width: 550px;
                height: auto;
                object-fit: cover;
            }
            .accordion{
                width: $widthTotal;
                margin: auto auto;
                .accordion-Item{
                    .accordion-header{
                        font-size: $regularText;
                        font-family: $mainFont;
                    }
                }
                .accordion-body{
                    font-family: $mainFont;
                    font-size: $breakText;
                    font-weight: $boldMedium;
                }
            }
        }
    }
}

