// Banner Advertising
.bannerPublicidadUno{
    width:$widthTotal;
    height: auto;
    box-shadow: 0 0 10px 2px $shadowColor;
    background-color: $backgroundColor;
    margin: $sectionMargin;
    .banner{
        width: $widthTotal;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $sectionMargin;
    }
    .laptop{
        width: 90%;
    }
}
.bannerPublicidadDos{
    width:$widthTotal;
    height: auto;
    background-image:url("../img/backgroundSteps2.png");
    background-attachment: fixed;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $sectionMargin;
    .bannerSection{
        width: 80%;
        max-width: 1100px;
        margin: 100px 0px;
        .banner{
            width: 100%;
            display: flex;
            flex-direction:row;
            justify-content: space-around;
            gap: 50px;
            .itemCellphones{
                width: 50%;
                height: 100%;
            }
            .accordion{
                width: $widthTotal !important;
                margin: auto auto !important;
                .accordion-Item{
                    .accordion-header{
                        font-size: $regularText !important;
                        font-family: $mainFont !important;
                        .accordion-button{
                            box-shadow: none !important;
                        }
                    }
                }
                .accordion-body{
                    font-family: $mainFont !important;
                    font-size: $smallTitle !important;
                    font-weight:$boldMedium ;
                    color:$blackColor !important;
                }
            }
        }
    }
}

