// Error404
.mainContainer{
    width: $screenWidth;
    height:$screenHeight;
    background-color: $blackColor;
    .main{
        width:$breakPointMax;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:$margin;
        position:relative;
        .item{
            width: 45vw;
            z-index: 0;
            position:fixed;
            top: 15%;
        }
        .item1{
            width: 45vw;
            z-index: 1;
            position: fixed;
            bottom: 38%;
            filter: drop-shadow(4px 4px 10px $whiteColor);
            animation: motion 3s alternate infinite;
            @keyframes motion{
                0%{
                    transform: translateY(0%);
                    filter: drop-shadow(4px 4px 10px $primaryColor);
                }
                100%{
                    transform: translateY(60%);
                    filter: drop-shadow(4px 4px 10px $secondaryColor);
                }
            }
        }
        .item2{
            width: 50vw;
            z-index: 1;
            position:fixed;
            bottom: 30%;
        }
        .item3{
            width: 80vw;
            z-index: 0;
            position: fixed;
            bottom: 25%;
        }
    }
    .return{
        width:200px;
        position: fixed;
        bottom:5%;
        left:10%;
        padding: 20px 20px;
        background-color: $cardColor;
        color:$whiteColor;
        text-decoration: none;
        border-radius: $ctoBorderRadius;
        display:flex;
        justify-content: space-around;
        align-self: flex-start;
        font-size: 12px;
        box-shadow: 0 0 10px 5px $shadowColor ;
        transition: all .3s;
        &:hover{
            background-color: $dropShadow;
            box-shadow: 0 0 10px $dropShadow;
        }
    }
}
