// ContactUs
.accordion{
    width: $containerWidth;
    max-width: $maxWidth;
    height:auto;
    margin: $sectionMargin !important;
    .subtitle{
        color: $whiteColor;
        font-size: $LargeTitle;
        font-weight: $bold;
        margin: $margin 100px;
        text-align: center;
        font-family: $mainFont;
    }
    .scrollDownAnswers{
        width: $widthTotal;
        height: auto;
        display: block;
        margin:$neutralMargin;
        details{
            padding: 10px 0px;
            summary{
                cursor:pointer;
                color: $tertiaryColor;
                font-size: $regularText ;
                font-weight:$boldMedium;
                padding: 10px 0px;
                font-family: $mainFont;
                border-bottom: 1px solid $lineColor;
            }
            p{
                color: rgb(199, 199, 199);
                font-size: $breakText ;
                font-weight:$boldMedium;
                margin: 15px auto 0px;
                padding: 20px 20px;
                font-family: $mainFont;
                background-color:  $backgroundColor;
                box-shadow: 0 0 10px 2px $shadowColor;
                border-radius: 10px;
            }
        }
    }
    .whatsApp{
        width: 20%;
        display:block;
        cursor: pointer;
        background-color:  $primaryColor;
        border:1px solid  $primaryColor;
        border-radius: $ctoBorderRadius;
        font-family:  $mainFont;
        font-weight: $bold;
        font-size: $regularText;
        color: #ffffff;
        margin: 40px auto;
        padding:  $paddingCto;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: $hoverColor;
            border:1px solid  $hoverColor;
            color: $primaryColor;
            box-shadow: 0 0 10px $primaryColor;
            text-shadow: 0 0 10px $primaryColor;
        }
    }
}

