// Match
.contenedorMatch{
    .bannerMatch{
        width:$breakPointMax;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin:$neutralMargin;
        .sideCompany, .sideStaff{
            width:$widthTotal;
            height: 100%;
            max-height: 600px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .cardCompany{
                @include card_match();
                animation:company 10000ms linear infinite;
                @keyframes company{
                        0%{
                            transform: translateY(50%);
                            opacity: 0.0;
                        }
                        25%{
                            transform: translateY(-100%);
                            opacity: 1;
                        }
                        50%{
                            transform: translateY(-250%);
                            opacity: 1;
                        }
                        75%{
                            transform: translateY(-450%);
                            opacity: 1;
                        }
                        100%{
                            transform: translateY(-600%);
                            opacity: 0.0;
                        }
                    }
                }
                .cardStaff{
                    @include card_match();
                    animation: staff 10000ms linear infinite;
                    @keyframes staff{
                        0%{
                            transform: translateY(-750%);
                            opacity: 0.0;
                        }
                        25%{
                            transform: translateY(-600%);
                            opacity: 1;
                        }
                        50%{
                            transform: translateY(-450%);
                            opacity: 1;
                        }
                        75%{
                            transform: translateY(-300%);
                            opacity: 1;
                        }
                        100%{
                            transform: translateY(-150%);
                            opacity: 0.0;
                        }
                    }
                }
                .picCompany, .picStaff{
                    width: 35px ;
                }
                .lines{
                    width: $widthTotal;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .line{
                        width:$widthTotal;
                        height: 10px;
                        background-color: $hoverColor;
                        margin: 2px auto;
                        border-radius: $ctoBorderRadius;
                    }
                }
                .company, .staff{
                    display:flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .iconCompany, .iconStaff{
                    width: 18px;
                }
            }
            .descriptionCompany{
                font-size: $xSmallParagraphText;
                font-family:  $mainFont;
                font-weight:$boldMedium;
                margin-top:30px;
                color: $secondaryColor;
                background-color:$orangeOpacityColor;
                padding: 4px 8px;
                border-radius: $ctoBorderRadius;
            }
            .descriptionStaff{
                font-size:$xSmallParagraphText;
                font-family: $mainFont;
                font-weight: $boldMedium;
                margin-top:30px;
                color: $primaryColor;
                background-color:$blueOpacityColor;
                padding: 4px 8px;
                border-radius: $ctoBorderRadius;
            }
        }
    }
    .centerMatch{
        background-color: transparent;
        border-radius: 20px;
        margin: $margin;
        z-index: 10;
        .center{
            width:300px;
            height:auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            .blockStaff, .blockCompany{
                .logo{
                    width:55px;
                }
            }
            .letterMatch{
                .match{
                    font-family: $secondaryFont;
                    filter: drop-shadow(0 0 5px $secondaryColor);
                    font-size: $matchLetter;
                    color: $dropShadow;
                    margin: 25px auto;
                }
            }
        }
    }
}













