@media (max-width:1250px){
    .contenedor{
        .buscadorServices{
            width: 70%;
        }
        .card{
            .contenedorDevelopers, .contenedorDesigners{
                .cardDev, .cardDesigners{
                    width: 150px;
                }
            }
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 20%;
            }
        }
        .accordion{
            .whatsApp{
                width: 20%;
            }
        }
    }
}
@media (max-width:1200px){
    .contenedor{
        .containerTestimony{
            .headline{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 0 auto;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 70%;
            margin: 0px auto;
        }
        .containerTestimony{
            .headline{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 0 auto;
            }
            .bundleOpinion{
                .groupLine{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    .cardOpinionShort{
                        width: 60%;
                        .opinionBottom{
                            .data{
                                margin: 10px auto 10px 25px;
                            }
                        }
                    }
                }
            }
        }
        .accordion{
            .whatsApp{
                width: 30%;
            }
        }
    }
}
@media (max-width:1000px){
}
@media (max-width:850px){
}
@media (max-width:490px){
}
@media (max-width:400px){
}
@media (max-width:326px){
}
