// Media Queries
@media (max-width:1250px){
    .contenedor{
        .buscadorServices{
            width: 70%;
            margin: $margin;
        }
        .card{
            width:78%;
            margin: $margin;
            .contenedorDevelopers, .contenedorDesigners{
                .cardDev, .cardDesigners{
                    width: 150px;;
                }
            }
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 20%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 82%;
        }
        .containerTestimony{
            width:100%;
            text-align: left;

            .headline{
                width: 92%;
                margin: 150px auto 100px;;
            }
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width: 30%;
                    }
                }
            }
        }
        .accordion, .formContainer{
            width:90%;
            margin: $margin;
            .whatsApp{
                width: 20%;
            }
        }
    }
}
@media (max-width:1200px){
    .contenedor{
        .containerDevelopment, .containerDesign{
            width: 80%;
        }
        .containerTestimony{
            width:93%;
            .headline{
                width: 88%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: $margin;
            }
            .bundleOpinion{
                .groupLine{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: $margin;
                    .cardOpinionShort{
                        width: 88%;
                        .opinionBottom{
                            .user{
                                width:64px;
                            }
                            .data{
                                top: 30%;
                                left: 20%;
                            }
                        }
                    }
                }
            }
            .verMas{
                width:25%;
                padding:$paddingCto;
            }
        }
        .accordion, .formContainer{
            width: 90%;
            margin: $margin;
            .whatsApp{
                width: 30%;
                padding:$paddingCto;
            }
        }
    }
}
@media (max-width:1000px){
    .contenedor{
        .cards{
            width:90%;
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 40%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 75%;
            .vacanciesDevelopment, .vacanciesDesign{
                .cardJob{
                    .cardVacancy{
                        .info{
                            .local{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                            }

                        }
                    }
                }
            }
        }
        .containerTestimony{
            width: 88%;
            .headline{
                width:88%;
                text-align: left;
            }
            .verMas{
                width:25%;
            }
        }
        .accordion{
            width: 88%;
            margin: $margin;
            .whatsApp{
                width: 30%;
            }
        }
        .formContainer{
            width: 88%;
            margin: $margin;
            .mapa{
                display: none;
            }
        }
    }
}
@media (max-width:850px){
    .contenedor{
        .buscadorServices{
            width: 80%;
            margin: $margin;
        }
        .cards{
            width:100%;
            margin: $margin;
            .contenedorDevelopers, .contenedorDesigners{
                width:100%;
                margin: auto;
                .cardDev, .cardDesigners{
                    width:100%;
                    gap: 10px;
                }
            }
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 30%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 88%;
        }
        .containerTestimony{
            width:100%;
            .headline{
                width: 90%;
                text-align: left;
            }
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width: 90%;
                        margin: 10px auto;
                    }
                }
            }
            .verMas{
                width:30%;
            }
        }
        .accordion, .formContainer{
            width:100%;
            margin: $margin;
            .whatsApp{
                width: 40%;
            }
        }
    }
}
@media (max-width:767px){
    .contenedor{
        .cards{
            width: 95%;
            margin: $margin;
            .contenedorDevelopers, .contenedorDesigners{
                width:100%;
                display: flex;
                .cardDev, .cardDesigners{
                    min-width:240px !important;
                }
            }
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 40%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 90%;
            .vacanciesDevelopment, .vacanciesDesign{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: $margin;
                .cardJob{
                    width: 100%;
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0px 10px !important;
                    row-gap: 10px;
                    overflow: hidden;
                    img.job{
                        width: 10%;
                        margin: 10px 0 0 0;
                    }
                    .cardVacancy{
                        width: 100%;
                        .info{
                            .local{
                                width:100%;
                                border-bottom: 1px solid $lineColor;
                            }
                        }
                    }
                    .postulate, .postulateDesign{
                        width: 30%;
                        margin:20px 0px;
                        justify-content: space-around;
                        align-items: center;
                        .check{
                            width:12%;
                            height: 12%;
                        }
                    }
                }
            }
        }
        .containerTestimony{
            width: 90%;
            .headline{
                width:100%;
                text-align: left;
            }
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width: 100%;
                        .opinionBottom{
                            .data{
                                top: 25%;
                                left: 20%;
                            }
                        }
                    }
                }
            }
            .verMas{
                width: 35%;
            }
        }
        .accordion, .formContainer{
            width:100%;
            margin: $margin;
        }
    }
}
@media (max-width:490px){
    .contenedor{
        .buscadorServices{
            p{
                font-size: $breakText;
            }
        }
        .cards{
            width: 93%;
            margin: $margin;
            .contenedorDevelopers, .contenedorDesigners{
                width:100%;
                margin:auto;
                .cardDev, .cardDesigners{
                    width: 100% !important;
                    row-gap: 5px ;
                    h3{
                        font-size:$breakText;
                    }
                }
            }
            .subtitle{
                font-size: $breakTitle;
                font-weight: $bold;
            }
            .anuncio{
                font-size: $breakText;
            }
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 90%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 85%;
            .titleDevelopment, .titleDesign{
                font-size: $breakTitle;
            }
            .vacanciesDevelopment, .vacanciesDesign{
                width:100%;
                margin:auto;
                .cardJob{
                    img.job{
                        width: 13%;
                    }
                    .cardVacancy{
                        .info{
                            .position{
                                h4{
                                    font-size: $smallTitle;
                                }
                            }
                            .local{
                                p{
                                    span{
                                        font-size: $breakSmallText;
                                    }
                                }
                                .data{
                                    p{
                                        font-size: $breakSmallText;
                                    }
                                }
                            }
                        }
                    }
                    .postulate, .postulateDesign{
                        width: 50% !important;margin: 20px 0px;
                        font-size: $smallTitle;
                        justify-content: space-around;
                    }
                }
            }
        }
        .containerTestimony{
            width:95%;
            .headline{
                width:90%;
                text-align: left;
                .subtitle{
                    font-size: $breakTitle;
                }
                .paragraph{
                    font-size: $breakText;
                }
                .promotion{
                    font-size: $breakText;
                }
            }
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width: 90%;
                        .opinionBottom{
                            .user{
                                width:45px;
                            }
                            .data{
                                top: 25%;
                                left: 20%;
                                p{
                                    font-size:$breakSmallText ;
                                }
                            }
                        }
                        .opinionMedium{
                            .paragraph{
                                font-size: $smallTitle;
                            }
                        }
                    }
                }
            }
            .verMas{
                width:90%;
                font-size: $breakText;
            }
        }
        .accordion{
            width:100%;
            margin: $margin;
        }
        .formContainer{
            .subtitulo{
                font-size: $breakTitle;
            }
            .locationForm{
                .form{
                    .btnAccion{
                        width: 100%;
                        margin: 10px auto;
                        font-size:$breakText;
                    }
                }
            }
        }
    }
}
@media (max-width:400px){
    .contenedor{
        .cards{
            width:94%;
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 90%;
            }
        }
        .containerDevelopment, .containerDesign{
            .vacanciesDevelopment, .vacanciesDesign{
                .cardJob{
                    img.job{
                        width: 15%;
                    }
                    .postulate, .postulateDesign{
                        width: 50%;
                    }
                }
            }
        }
        .containerTestimony{
            width:85% !important;
            .headline{
                width:100%;
                text-align: left;
            }
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width:$widthTotal;
                        .opinionBottom{
                            .user{
                                width:40px;
                            }
                            .data{
                                top: 25%;
                                left: 20%;
                            }
                        }
                    }
                }
            }
        }
        .accordion, .formContainer{
            width:100%;
            .whatsApp{
                width: $widthTotal;
            }
        }
    }
}
@media (max-width:326px){
    .contenedor{
        .containerDevelopment, .containerDesign{
            .vacanciesDevelopment, .vacanciesDesign{
                .cardJob{
                    width:$widthTotal;
                    margin: auto;
                }
            }
        }
        .containerTestimony{
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        .opinionBottom{
                            .user{
                                width:35px;
                            }
                            .data{
                                top: 25%;
                                left: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}
