// Media Queries
@media (max-width:1250px){
    .contenedor{
        .heroSection{
            width: $screenWidth;
            height:$screenHeight;
            margin: 400px auto;
            .hero{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .info{
                    width:$breakPointMax;
                    margin:$margin 100px;
                    .btnAction{
                        width:75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        gap: 20px;
                        padding: 80px auto 0px;
                    }
                }
                .cellphone{
                    width: 33%;
                }
            }
        }
        #socialMediaUno, #arrowUp{
            display: none;
        }
        .nosotros{
            margin-top: 150px;
        }
    }
    .footer{
        .mainFooter{
            width:$containerWidth;
        }
    }
}
@media (max-width:1200px){
    .contenedor{
        .nosotros{
            .subtitulo{
                margin-bottom: 100px ;
            }
            .containerInfo{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .info{
                    width: 60%;
                    height: auto;
                    background-color: $backgroundColor;
                    box-shadow: 0 0 10px 2px $shadowColor;
                    border-radius:$cardBorderRadius;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: $margin;
                    overflow: hidden;
                }
                .laptop{
                    width: $breakPointMax;
                }
            }
        }
        .contenedorEmpleos {
            width: $widthTotal;
            .jobs{
                width: $breakPointMax;
                height:auto;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-around;
                align-items: center;
                .empleosArticle{
                    width: 70%;
                    margin: $margin;
                }
            }
            .screens{
                width: 80%;
                height:auto;
                margin: $containerMargin $margin;
            }
        }
        .contenedorMatch{
            width:$breakPointMax;
            .bannerMatch{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin:$margin;
            }
        }
        .bannerPublicidadDos{
            .bannerSection{
                .banner{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
        .accordion{
            .whatsApp{
                width: 30%;
            }
        }
    }
}
@media (max-width:1000px){
    .contenedor{
        .heroSection{
            .hero{
                .info{
                    .btnAction{
                        .ctaDeveloper, .ctaDesigner{
                            width:70%;
                        }
                    }
                }
                .cellPhone{
                    width: 53%;
                }
            }
        }
        .nosotros{
            .containerInfo{
                .info{
                    width: 70%;
                }
            }
        }
        .contenedorMatch{
            width: $breakPointMax;
            .bannerMatch{
                width: 60%;
                margin: $margin;
            }
        }
        .bannerPublicidadDos{
            .bannerSection{
                .banner{
                    .itemCellphones{
                        width: 70%;
                    }
                }
            }
        }
    }
}
@media (max-width:850px){
    .header{
        width: $screenWidth;
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding :0px 80px;
        .menu{
            width:50vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            top: 0px;
            right: 0px;
            background-color: $blackColor;
            box-shadow: 0 0 5px $shadowColor;
            transform: translateX(100%);
            transition: transform .3s;
            ul{
                width:inherit;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                li{
                    width:inherit;
                    padding: 0px 0px 0px 50px;
                    .categoria{
                        width:inherit;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin: $margin;
                        cursor: pointer;
                        text-decoration: none;
                        color: $whiteColor;
                        padding: 20px 350px 20px 40px !important;
                        margin-left: -83px;
                        border-bottom:1px solid transparent;
                        transition: all .5s ease;
                        .item{
                            width: 24px;
                            margin-right: 20px;
                            display: flex;
                            transition: all .5s ease;
                        }
                    }
                    &:hover .categoria{
                        background-color:$backgroundColor;
                    }
                }
            }
            .socialMedia{
                display: flex;
                justify-content: center;
                .iconLink{
                    width: 20px;
                    transform: scale(100%);
                    transition: transform .3s ease-in-out;
                    margin: 0 3px;
                    &:hover{
                        filter: drop-shadow(0 0 10px #3a3a3a);
                        transform: scale(112%);
                    }
                }
            }
        }
        #menu{
            &:checked ~ .menu{
                transform:translate(0%);
                z-index: 10;
            }
        }
        .drawer{
            display: block;
            width: 32px;
            cursor: pointer;
            transform: scale(100%) rotate(0deg);
            transition: all .3s;
            &:hover{
                transform: scale(105%) rotate(270deg);
            }
        }
        .close{
            width: 32px;
            display: block;
            position: absolute;
            top: 30px;
            left: 40px;
            cursor: pointer;
            transform: scale(100%) rotate(0deg);
            transition: all .3s;
            &:hover{
                transform: scale(105%) rotate(270deg);
            }
        }
    }
    .contenedor{
        .heroSection{
            .hero{
                .cellphone{
                    width: 33%;
                }
            }
        }
        .nosotros{
            .containerInfo{
                .info{
                    width: 80%;
                }
            }
        }
        .contenedorMatch{
            width: $breakPointMax;
            .bannerMatch{
                width: 65%;
                margin: $margin;
                .centerMatch{
                    .center{
                        .letterMatch{
                            .match{
                                font-size: $matchLetter;
                            }
                        }
                    }
                }
            }
        }
        .patrocinadores{
            width:80%;
            .empresasPatrocinadorasUno, .empresasPatrocinadorasDos{
                img{
                    width: 85px;
                }
            }
        }
        .accordion{
            .whatsApp{
                width: 40%;
            }
        }
    }
    .footer{
        width: $widthTotal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mainFooter{
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:$categoryMargin;
            .services{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                order: 2;
                margin-top: 40px;
            }
            .footerMedium{
                .news{
                    width:auto;
                    .inscribir{
                        text-align: left;
                    }
                    .accion{
                        width:$widthTotal;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        input{
                            margin: 10px -5px;
                        }
                        .btnAccion{
                            width:100%;
                        }
                    }
                }
            }
            .menu{
                ul{
                    margin-left: -32px;
                }
            }
        }
    }
}
@media (max-width:767px){
    .header{
        padding :0px 40px;
        .menu{
            width: 55vw;
            height: 100%;
            ul{
                display: flex;
            }
            .socialMedia{
                display: flex;
                justify-content: center;
            }
        }
    }
    .contenedor{
        .heroSection{
            .hero{
                width:$breakPointMax;
                .info{
                    .btnAction{
                        width:60%;
                        margin:0px auto;
                        .ctaDeveloper, .ctaDesigner{
                            width:$widthTotal;
                        }
                    }
                }
                .cellphone{
                    width: 48%;
                }
            }
        }
        .contenedorEmpleos{
            .jobs{
                .empleosArticle{
                    width: 80%;
                    margin: $margin;
                    .contenedorEmpleo{
                        .btnDesarrolladorDiseñador{
                            width: 50%;
                        }
                    }
                }
            }
        }
        .contenedorMatch{
            width:$breakPointMax;
            .bannerMatch{
                width: 80%;
                margin: $margin;
                .centerMatch{
                    .center{
                        .letterMatch{
                            .match{
                                font-size: 4rem;
                            }
                        }
                    }
                }
            }
        }
        .accordion{
            width: $widthTotal;
        }
    }
    .footer{
        .mainFooter{
            width: 60%;
            margin: 40px auto;
        }
    }
}
@media (max-width: 490px){
    .header{
        .menu{
            width: $screenWidth;
            height: 100%;
            ul{
                li{
                    width: 100vw;
                    .categoria{
                        font-size: $breakText;
                    }
                }
            }
        }
    }
    .contenedor{
        max-width:$widthTotal;
        margin: $margin;
        .heroSection{
            margin-top: 300px;
            .hero{
                .info{
                    h1{
                        font-size:$MediumTitle ;
                    }
                    h3{
                        font-size: $breakTitle;
                    }
                    .btnAction{
                        width: $widthTotal;
                        margin: $margin;
                        .ctaDeveloper, .ctaDesigner{
                            width: $widthTotal;
                            font-size: $breakText;
                        }
                    }
                }
                .cellphone{
                    width: 63%;
                }
            }
        }
        .nosotros{
            max-width: $widthTotal;
            margin:$sectionMargin;
            .subtitulo{
                font-size: $breakTitle;
                font-weight: $bold;
            }
            .containerInfo{
                .laptop{
                    width: $widthTotal;
                }
                .info{
                    width: $widthTotal;
                    p{
                        font-size:$breakText;
                    }
                }
            }
        }
        .contenedorEmpleos{
            max-width: $widthTotal;
            margin:$sectionMargin;
            .subtitulo{
                font-size: $breakTitle;
            }
            .jobs{
                width:$breakPointMax;
                height:auto;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-around;
                align-items: center;
                .empleosArticle{
                    width: $breakPointMax;
                    margin: $margin;
                    .subtitulo{
                        font-size: $breakTitle ;
                    }
                    .contenedorEmpleo{
                        p{
                            font-size:$breakText ;
                        }
                        .paragraph{
                            font-size: $breakText ;
                        }
                        .btnDesarrolladorDiseñador{
                            width: 100%;
                            font-size:$breakText;
                            margin: $margin;
                        }
                    }
                }
            }
            .screens{
                width:  $breakPointMax;
                height:auto;
                margin: $containerMargin;
            }
        }
        .contenedorMatch{
            max-width:$breakPointMax;
            margin:$sectionMargin;
            .bannerMatch{
                width:  $breakPointMax;
                .centerMatch{
                    .center{
                        .letterMatc{
                            .match{
                                font-size: $breakMatch;
                            }
                        }
                    }
                }
            }
        }
        .patrocinadores{
            max-width:$breakPointMax;
            margin:$sectionMargin;
            .subtitulo{
                font-size: $breakTitle;
                font-weight: $bold;
            }
            .empresasPatrocinadorasUno, .empresasPatrocinadorasDos{
                img{
                    width: 65px;
                }
            }
        }
        .bannerPublicidadDos{
            width:$widthTotal;
            .bannerSection{
                .banner{
                    .itemCellphones{
                        width: $widthTotal;
                    }
                    .accordion{
                        width: $widthTotal;
                        .accordion-item{
                            .accordion-header{
                                .title{
                                    font-size: $breakText;
                                }
                            }
                            .paragraph{
                                font-size: $smallTitle;
                            }
                        }
                    }
                }
            }
        }
        .accordion{
            max-width: $widthTotal;
            margin:$sectionMargin;
            .subtitle{
                font-size: $breakTitle;
                font-weight: $bold;
            }
            .scrollDownAnswers{
                summary{
                    font-size: $breakText;
                }
                p{
                    font-size: $smallTitle;
                }
            }
            .whatsApp{
                flex-grow: 1;
                font-size: $breakText;
            }
        }
    }
    .footer{
        .mainFooter{
            .footerMedium{
                .news{
                    .accion{
                        .btnAccion{
                            font-size: $breakText;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:400px){
    .contenedor{
        max-width:$widthTotal;
        margin: $margin;
        .contenedorEmpleos{
            .jobs{
                width: $breakPointMax;
                .empleosArticle{
                    width: $breakPointMax;
                }
            }
        }
        .contenedorMatch{
            max-width:$breakPointMax;
            margin: $sectionMargin;
            .bannerMatch{
                width: $breakPointMax;
                .centerMatch{
                    .center{
                        .letterMatch{
                            .match{
                                font-size: $breakMatch;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        .footerMedium{
            .news{
                .accion{
                    input{
                        width: $widthTotal;
                    }
                    .btnAccion{
                        width: $widthTotal;
                    }
                }
            }
        }
        .mainFooter{
            width:$breakPointMax;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: $categoryMargin;
        }
    }
}
@media (max-width:326px){
    .contenedor{
        .contenedorMatch{
            width:$widthTotal;
            .bannerMatch{
                width: $breakPointMax;
                .centerMatch{
                    .center{
                        width:$widthTotal;
                        .letterMatch{
                            .match{
                                font-size: $LargeTitle;
                            }
                        }
                    }
                }
            }
        }
    }
}
