@media (max-width:1250px){
    .contenedor{
        .buscadorServices{
            width: 70%;
        }
        .card{
            .contenedorDevelopers, .contenedorDesigners{
                .cardDev, .cardDesigners{
                    width: 150px;
                }
            }
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 20%;
            }
        }
        .accordion{
            .whatsApp{
                width: 20%;
            }
        }
    }
}
@media (max-width:1200px){
    .contenedor{
        .containerTestimony{
            .headline{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: $margin;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 70%;
            margin: $margin;
        }
        .containerTestimony{
            .headline{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: $margin;
            }
            .bundleOpinion{
                .groupLine{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: $margin;
                    .cardOpinionShort{
                        width: 60%;
                        .opinionBottom{
                            .data{
                                margin: 10px auto 10px 25px;
                            }
                        }
                    }
                }
            }
        }
        .accordion{
            .whatsApp{
                width: 30%;
            }
        }
    }
}
@media (max-width:1000px){
    .contenedor{
        .cards{
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 40%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 90%;
            margin: $margin;
        }
        .containerTestimony{
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width: 70%;
                    }
                }
            }
        }
        .accordion{
            .whatsApp{
                width: 50%;
            }
        }
        .formContainer{
            .mapa{
                display: none;
            }
        }
    }
}
@media (max-width:850px){
    .contenedor{
        .buscadorServices{
            width: 80%;
        }
        .cards{
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 30%;
            }
        }
        .containerTestimony{
            .headline{
                width: 80%;
                text-align: left;
            }
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width: 80%;
                        margin: 10px auto;
                        .opinionBottom{
                            .data{
                                margin: 5px auto 5px 15px;
                            }
                        }
                    }
                }
            }
        }
        .accordion{
            .whatsApp{
                width: 50%;
            }
        }
    }
}
@media (max-width:767px){
    .contenedor{
        .cards{
            width: 100%;
            margin: $margin;
            padding: 0px 30px;
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 40%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 85%;
            margin: $margin;
            .vacanciesDevelopment, .vacanciesDesign{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: $margin;
                .cardJob{
                    width: 100%;
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0px 10px !important;
                    row-gap: 10px;
                    overflow: hidden;
                    img.job{
                        width: 10%;
                        margin: 10px 0 0 0;
                    }
                    .cardVacancy{
                        width: 100%;
                        .info{
                            .local{
                                width:100%;
                                border-bottom: 1px solid $lineColor;
                            }
                        }
                    }
                    .postulate{
                        width: 35%;
                    }
                }
            }
        }
    }
}
@media (max-width:490px){
    .contenedor{
        .buscadorServices{
            p{
                font-size: $breakText;
            }
        }
        .cards{
            .anuncio{
                font-size: $breakText;
            }
            .subtitle{
                font-size: $breakTitle;
                font-weight: $bold;
            }
        }
        .containerDevelopment, .containerDesign{
            .titleDevelopment, .titleDesign{
                font-size: $breakTitle;
            }
            .vacanciesDevelopment, .vacanciesDesign{
                .cardJob{
                    img.job{
                        width: 13%;
                    }
                    .cardVacancy{
                        .info{
                            .position{
                                h4{
                                    font-size:  $smallTitle;
                                }
                            }
                            .local{
                                p{
                                    span{
                                        font-size: $xSmallParagraphText;
                                    }
                                }
                                .data{
                                    p{
                                        font-size: $xSmallParagraphText;
                                    }
                                }
                            }
                        }
                    }
                    .postulate{
                        width: 40%;
                        font-size: $smallTitle;
                    }
                }
            }
        }
        .containerTestimony{
            .headline{
                width:90%;
                text-align: left;
                .subtitle{
                    font-size: $breakTitle;
                }
                .paragraph{
                    font-size: $breakText;
                }
                .promotion{
                    font-size: $breakText;
                }
            }
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width: 90%;
                        .opinionBottom{
                            .data{
                                margin: 2px auto 15px 5px;
                            }
                        }
                        .opinionMedium{
                            .paragraph{
                                font-size: $smallTitle;
                            }
                        }
                    }
                }
            }
            .verMas{
                width:90%;
                font-size: $breakText;
            }
        }
        .accordion{
            .subtitle{
                font-size: $breakTitle;
            }
            .scrollDownAnswers{
                summary{
                    font-size: $breakText !important
                }
                p{
                    font-size: $breakText !important;
                }
            }
            .whatsApp{
                font-size: $breakText;
            }
        }
        .formContainer{
            .subtitulo{
                font-size: $breakTitle;
            }
            .locationForm{
                .form{
                    .btnAccion{
                        width: 100%;
                        margin: 10px auto;
                        font-size:$breakText;
                    }
                }
            }
        }
    }
}
@media (max-width:400px){
    .contenedor{
        .cards{
            padding: 0px 10px;
            .contactanosDesarrolladores, .contactanosDiseñadores{
                width: 80%;
            }
        }
        .containerDevelopment, .containerDesign{
            width: 100%;
            .vacanciesDevelopment, .vacanciesDesign{
                .cardJob{
                    img.job{
                        width: 15%;
                    }
                    .postulate{
                        width: 50%;
                    }
                }
            }
        }
        .containerTestimony{
            width:100%;
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        width:100%;
                        .opinionBottom{
                            .data{
                                margin: 0px 0px 0px -10px;
                            }
                        }
                    }
                }
            }
        }
        .accordion{
            .whatsApp{
                width: 100%;
            }
        }
    }
}
@media (max-width:326px){
    .contenedor{
        .containerDevelopment, .containerDesign{
            .vacanciesDevelopment, .vacanciesDesig{
                .cardJob{
                    width:100%;
                    margin: auto;
                }
            }
        }
        .containerTestimony{
            .bundleOpinion{
                .groupLine{
                    .cardOpinionShort{
                        .opinionBottom{
                            .data{
                                margin: 0px 0px 0px -20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
