// Mixins

// Landing - Page

// Hero - Section

@mixin main_cta($background-color: $secondaryColor){
    width:50%;
    font-size:$regularText;
    margin: 0px 2px;
    text-align: center;
    padding: $paddingMainCto;
    text-decoration: none;
    background-color:$background-color;
    color:$whiteColor;
    border-radius: $ctoBorderRadius;
    font-weight: $bold;
    transition: all .3s ease-in;
}

// Match

@mixin card_match{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $cardColor;
    border-radius: $cardBorderRadius;
    margin: 30px auto;
    padding: 5px 15px;
    column-gap:15px;
    animation:company 10000ms linear infinite;
}

// Sponsor

@mixin empresas_patrocinadoras(){
    width:$widthTotal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 30px auto;
    img{
        width: 100px;
        margin: 0px 50px;
        filter: grayscale(100%);
        object-fit: cover;
    }
}

// Views

// Services

@mixin contenedor_services(){
    background-color:  $backgroundColor;
    border-radius: 5px;
    cursor:pointer;
    margin: 3px 3px;
    flex-wrap: wrap;
    border: 1px solid  $backgroundColor;
    transform: scale(100%);
    box-shadow: 0 0 10px 2px $shadowColor;
    transition: transform .3s;
    &:hover{
        transform: scale(98%);
        border: 1px solid transparent;
    }
    .card{
        width: 55px;
        border:1px solid transparent;
        object-fit: contain;
    }
    h3{
        color: $tertiaryColor;
        font-size: $regularText;
        font-family:  $mainFont;
    }
}
@mixin contactanos_services($background-color: $secondaryColor, $border:1px solid $secondaryColor){
    width: 20%;
    font-size: $regularText;
    text-align: center;
    color: $whiteColor;
    background-color: $background-color;
    border:$border;
    border-radius:  $ctoBorderRadius;
    cursor: pointer;
    padding: $paddingCto;
    margin:  $neutralMargin 100px;
    text-decoration: none;
    font-family: $mainFont;
    font-weight: $bold;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color:$hoverColor;
        border:1px solid $hoverColor;
        color: $secondaryColor;
        box-shadow: 0 0 10px  $secondaryColor;
        text-shadow: 0 0 10px  $secondaryColor;
    }
}

// Jobs{

@mixin card_job(){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: $backgroundColor;
    box-shadow: 0 0 10px 2px $shadowColor;
    border-radius: 16px;
    position:relative;
    padding: 0px 50px;
    transform: scale(100%);
    transition: all .3s;
}
@mixin publish($background-color: $orangeOpacityColor, $color: $secondaryColor ){
    color: $color;
    font-size: $smallTitle;
    background-color:$background-color;
    border-radius: $ctoBorderRadius;
    padding:5px 5px;
}


@mixin postulation($background-color:$secondaryColor, $box-shadow: 0 0 10px $secondaryColor){
    padding: 10px 5px;
    margin-bottom:20px;
    background-color: $hoverColor;
    color:$whiteColor;
    text-decoration: none;
    border-radius:  $ctoBorderRadius;
    display:flex;
    justify-content: space-evenly;
    transition: all .3s;
    align-self: end;
    font-size:$regularText;
    font-weight: $bold;
    &:hover{
        background-color:$background-color;
        box-shadow:$box-shadow;
    }
}

