// Services

.contenedorEmpleos{
    width: $containerWidth;
    max-width: $maxWidth;
    margin: $sectionMargin !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:$margin;
    .subtitulo{
        color: $whiteColor;
        font-size: $LargeTitle;
        font-weight: $bold;
        margin-bottom: 100px;
    }
    .jobs{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin: $margin;
    }
    .empleosArticle{
        width: 40%;
        margin-right: 50px;
        .subtitulo{
            font-family: $mainFont;
            font-size: $MediumTitle;
            font-weight: $boldMedium;
            color: $whiteColor;
            margin-bottom: 20px;
        }
        .contenedorEmpleo{
             .paragraph{
                font-family: $mainFont;
                font-size:$regularText;
                color: $tertiaryColor;
                margin-bottom: 20px;
            }
            p{
                font-family: $mainFont;
                font-size: $regularText;
                color: $secondaryColor;
                margin-bottom: 40px;
            }
        }
        .btnDesarrolladorDiseñador{
            width:40%;
            display: block;
            cursor: pointer;
            background-color: $primaryColor;
            border:1px solid $primaryColor;
            border-radius: 50px;
            font-family: $mainFont;
            font-weight:$bold;
            font-size: $regularText;
            color: $whiteColor;
            padding: $paddingCto;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color:$hoverColor;
                border:1px solid $hoverColor;
                color: $primaryColor;
                box-shadow: 0 0 10px $primaryColor;
                text-shadow: 0 0 10px $primaryColor;
            }
        }
    }
    .screens{
        width:60%;
        height:auto;
        margin: $margin;
        .screen{
            width:100%;
            height:auto;
            filter:grayscale(100%);
            object-fit: cover;
            box-shadow: 0 0 10px 3px $neutralShadow;
            cursor: pointer;
            transform: scale(100%);
            transition: all 0.5s ease-in-out;
            &:hover{
                transform: scale(100.5%);
                filter:grayscale(30%);
                box-shadow: 0 0 21px 7px $neutralShadow;
            }
        }
    }
}
.buscadorServices{
    width: 50%;
    margin: $sectionMargin !important;
    p{
        font-size: $regularText;
        text-align: left;
        color: $whiteColor;
    }
    input{
        width:100%;
        font-size: $smallTitle;
        border-radius: $ctoBorderRadius !important;
        border: 1px solid  $shadowColor;
        box-shadow: 0 0 10px 2px  $shadowColor;
        background-color: $backgroundColor;
        color: $tertiaryColor;
        font-family:  $mainFont;
        padding: $paddingCto;
    }
}
.cards{
    width: $containerWidth;
    max-width: $maxWidth;
    margin: $sectionMargin;
    .subtitle{
        color:  $whiteColor;
        font-size: $LargeTitle;
        font-weight: $bold;
        font-family: $mainFont;
        margin-bottom: 100px;
    }
    .contenedorDevelopers{
        .cardDev{
            background-color:  $backgroundColor;
            border-radius: 5px;
            cursor:pointer;
            margin: 3px 3px;
            flex-wrap: wrap;
            border: 1px solid  $backgroundColor;
            transform: scale(100%);
            box-shadow: 0 0 10px 2px $shadowColor;
            transition: transform .3s;
            &:hover{
                background-color: $orangeBackgroundColor;
                box-shadow: 0 0 10px  $secondaryColor;
                transform: scale(98%);
                border: 1px solid transparent;
                text-shadow: 0 0 10px  $secondaryColor;
            }
            .card{
                width: 55px;
                border:1px solid transparent;
                object-fit: contain;
            }
            h3{
                color: $tertiaryColor;
                font-size: $regularText;
                font-family:  $mainFont;
            }
        }
    }
    .anuncio{
        color: $tertiaryColor;
        font-size: $regularText;
        margin: 40px auto;
    }
    .contactanosDesarrolladores{
        width: 20%;
        font-size: $regularText;
        text-align: center;
        color: $whiteColor;
        background-color: $secondaryColor;
        border:1px solid $secondaryColor;
        border-radius:  $ctoBorderRadius;
        cursor: pointer;
        padding: $paddingCto;
        margin: 0px auto 100px;
        text-decoration: none;
        font-family: $mainFont;
        font-weight: $bold;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color:$hoverColor;
            border:1px solid $hoverColor;
            color: $secondaryColor;
            box-shadow: 0 0 10px  $secondaryColor;
            text-shadow: 0 0 10px  $secondaryColor;
        }
    }
    .contenedorDesigners{
        .cardDesigners{
            background-color: $backgroundColor;
            border-radius: 5px;
            cursor:pointer;
            margin: 3px 3px;
            flex-wrap: wrap;
            border: 1px solid $backgroundColor;
            transform: scale(100%);
            box-shadow: 0 0 10px 2px $shadowColor;
            transition: transform .3s;
            &:hover{
                background-color: $blueBackgroundColor;
                border:1px solid transparent;
                transform: scale(98%);
                box-shadow: 0 0 10px $primaryColor;
                text-shadow: 0 0 10px $primaryColor;
            }
            .card{
                width: 55px;
                border:1px solid transparent;
                object-fit: contain;
            }
            h3{
                color: $tertiaryColor;
                font-size:$regularText;
                font-family: $mainFont;
            }
        }
    }
    .contactanosDiseñadores{
        width: 20%;
        font-size: $regularText;
        text-align: center;
        color: $whiteColor;
        background-color: $primaryColor;
        border:1px solid $primaryColor;
        border-radius: $ctoBorderRadius;
        cursor: pointer;
        padding:  $paddingCto;
        margin: 0px auto 100px;
        text-decoration: none;
        font-family: $mainFont;
        font-weight: $bold;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color:$hoverColor;
            border:1px solid $hoverColor;
            color: $primaryColor;
            box-shadow: 0 0 10px $primaryColor;
            text-shadow: 0 0 10px $primaryColor;
        }
    }
}

