// Testimony
.containerTestimony{
    width: 85%;
    margin: $containerMargin;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .headline{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin:$categoryMargin;
        .subtitle{
            color: white;
            font-size: 1.87rem;
            font-weight: 600;
            text-align: center;
        }
        .paragraph{
            font-size: 1rem;
            text-align: left;
            color: white;
        }
        .promotion{
            font-size: 1rem;
            text-align: left;
            color: #EB5A00;
            background-color: #eb5a0038;
            font-weight: 600;
            border-radius: 50px;
            padding:10px 10px;
        }
    }
    .subtitulo{
        color:  $whiteColor;
        font-size: $LargeTitle;
        font-weight: $bold;
        margin-bottom: 100px;
    }
    .bundleOpinion{
        .groupLine{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: $neutralMargin;
                .cardOpinionShort{
                    width:32%;
                    color: $tertiaryColor;
                    background-color: $cardColor;
                    border-radius:10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: 0 0 10px 2px $shadowColor;
                    margin: 7px;
                    text-align: left;
                    .opinionTop{
                        width: 90%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding:10px;
                        .quotationMark{
                            opacity: .1;
                        }
                        .rating{
                            width: 30%;
                            filter: drop-shadow(0px 0px 2px);
                            opacity: .8;
                        }
                    }
                }
                .opinionMedium{
                    width: 90%;
                    padding: 10px 10px;
                    border-top: 1px solid $lineColor;
                    border-bottom: 1px solid $lineColor;
                    .paragraph{
                        font-size: $smallTitle;
                        color:$tertiaryColor;
                    }
                }
                .opinionBottom{
                    width:90%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0px;
                    position: relative;
                    .user{
                        width: 15%;
                    }
                    .data{
                        position: absolute;
                        top: 12px;
                        left: 60px;
                        p{
                            font-size: $xSmallParagraphText;
                            color:$tertiaryColor;
                            margin-bottom:0px;
                        }
                    }
                    .socialMedia{
                        align-self: flex-end;
                        a{
                            text-decoration: none;
                        }
                        .iconLink{
                            width: 20px;
                        }
                    }
                }
            }
        }
        .verMas{
            width:20%;
            font-size: $regularText;
            text-align: center;
            color: $whiteColor;
            background-color: $primaryColor;
            border:1px solid $primaryColor;
            border-radius: 50px;
            cursor: pointer;
            margin-top:60px;
            padding:  $paddingCto;
            text-decoration: none;
            font-family: $mainFont;
            font-weight: $bold;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color:$hoverColor;
                border:1px solid $hoverColor;
                color: $primaryColor;
                box-shadow: 0 0 10px $primaryColor;
                text-shadow: 0 0 10px $primaryColor;
            }
        }
    }
