    // Variables

    // Font-size

    $mainFont: 'Poppins', sans-serif;
    $secondaryFont:"Press Start +2P", cursive;
    $matchLetter:6rem;
    $mainTitle:2.2rem;
    $LargeTitle :1.87rem;
    $MediumTitle :1.6rem;
    $regularText:1rem;
    $smallTitle:0.8rem;
    $xSmallParagraphText:0.6rem;

    // Font-weight

    $boldLight:100;
    $boldMedium:400;
    $bold:600;

    // Color

    $whiteColor:#e3e3e3 ;
    $blackColor: #0c0c0c;
    $primaryColor: #26A4E3;
    $secondaryColor:#eb5a00;
    $tertiaryColor:#a2a2a2;
    $orangeOpacityColor:#eb5a0038;
    $blueOpacityColor:#26a4e338;
    $hoverColor:#232323;
    $cardColor:#141414;
    $backgroundColor:#0f0f0f;
    $opacityBackgroundColor:#ffffff34;
    $blueBackgroundColor:#00344e;
    $orangeBackgroundColor:#2b1000;
    $lineColor:#2e2e2e;

    // Shadows

    $blueShadowColor:#26A4E3;
    $orangeShadowColor:#fe6302;
    $shadowColor:#090909;
    $neutralShadow:#010101;
    $dropShadow:#3a3a3a;

    // Line - height

    $lineHeight: 40px;

    // Padding btn

    $paddingCto: 20px 35px;
    $paddingMainCto: 25px 35px;

    // Margin

    $margin:0 auto;
    $sectionMargin: 150px auto;
    $neutralMargin:0px auto;

    // Border - Radius

    $ctoBorderRadius: 50px;
    $borderRadius:50%;
    $cardBorderRadius:20px;

    // Size - Screen

    $screenWidth:100vw;
    $screenHeight:100vh;


    // p{
    //     font-size:$h3Title;
    //     font-weight:$boldMedium;
    // }

