<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts poppins and press start 2p-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../img/logo2.png"/>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!-- Header -->

    <header class="header">
        <a class="logo" href="../index.html">
            <img class="logoDelord" src="../img/logo2.png" alt="Logo Delord">
        </a>
        <input id="menu" type="checkbox">
        <label for="menu">
            <img class="drawer" src="../img/drawer.png" alt="Menu">
        </label>
        <nav class="menu" >
            <label for="menu">
                <img class="close" src="../img/close.png" alt="Cerrar">
            </label>
            <ul class="my-4 mx-4">
                <li><a class="categoria py-4 px-4" href="../index.html"><img class="item" src="../img/home.png" alt="Home">Inicio</a></li>
                <li><a class="categoria py-4 px-4" href="services.html"><img class="item" src="../img/service.png" alt="Servicio">Servicios</a></li>
                <li><a class="categoria py-4 px-4" href="jobs.html"><img class="item" src="../img/job.png" alt="Empleo">Empleos</a></li>
                <li><a class="categoria py-4 px-4" href="testimonies.html"><img class="item" src="../img/testimony.png" alt="Testimonio">Testimonios</a></li>
                <li><a class="categoria py-4 px-4" href="contactus.html"><img class="item" src="../img/contact.png" alt="contacto">Contactanos</a></li>
            </ul>
            <section class="socialMedia">
                <a href="https://es-la.facebook.com/" target="_blank" >
                    <img src="../img/facebook.png" alt="Logo facebook" class="iconLink">
                </a>
                <a href="https://linkedin.com/" target="_blank">
                    <img src="../img/linkedin.png" alt="Logo linkedin" class="iconLink">
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img src="../img/twitter.png" alt="Logo twitter" class="iconLink">
                </a>
                <a href="https://discord.com/" target="_blank">
                    <img src="../img/discord.png" alt="Logo discord" class="iconLink">
                </a>
                <a href="https://instagram.com/" target="_blank">
                    <img src="../img/instagram.png" alt="Logo instagram" class="iconLink">
                </a>
                <a href="https://youtube.com/" target="_blank">
                    <img src="../img/youtube.png" alt="Logo youtube" class="iconLink">
                </a>
            </section>
        </nav>
    </header>

    <!-- Main -->

    <main class="container">

         <!-- Social Media -->

        <section class="socialMediaUno">
            <a class="mt-1" href="https://es-la.facebook.com/" target="_blank" >
                <img src="../img/facebook.png" alt="Logo facebook" class="iconLink">
            </a>
            <a class="mt-1" href="https://linkedin.com/" target="_blank">
                <img src="../img/linkedin.png" alt="Logo linkedin" class="iconLink">
            </a>
            <a class="mt-1" href="https://twitter.com/" target="_blank">
                <img src="../img/twitter.png" alt="Logo twitter" class="iconLink">
            </a>
            <a class="mt-1" href="https://discord.com/" target="_blank">
                <img src="../img/discord.png" alt="Logo discord" class="iconLink">
            </a>
            <a class="mt-1" href="https://instagram.com/" target="_blank">
                <img src="../img/instagram.png" alt="logo instagram" class="iconLink">
            </a>
            <a class="mt-1" href="https://youtube.com/" target="_blank">
                <img src="../img/youtube.png" alt="logo youtube" class="iconLink">
            </a>
        </section>

        <!-- ArrowUp -->

        <section class="arrowUp">
            <a class="arrow" href="#">
                <img src="../img/arrowup.png" alt="Flecha arriba">
            </a>
        </section>

        <!-- Buscador -->

        <section class="buscadorServices">
            <p>Encuentra el mejor talento para tu compañia</p>
            <label for="desarrolladores" class="buscar"></label>
            <input id="desarrolladores" placeholder="¿Que tecnología buscas?" type="text">
        </section>

        <!-- Desarrolladores -->

        <section class="row cards text-center" id="contenedorDevelopment">
            <h3 class="col p-4 subtitle">Tecnologías desarrollador web</h3>
            <div class="row mx-2 contenedorDevelopers">
                <div class="row">
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/css.png" alt="CSS" class="card pb-5 bg-transparent">
                        <h3>CSS</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/js.png" alt="JS" class="card pb-5 bg-transparent">
                        <h3>JS</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/html.png" alt="Html" class="card pb-5 bg-transparent">
                        <h3>HTML</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/angular.png" alt="Angular" class="card pb-5 bg-transparent">
                        <h3>Angular</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/vuejs.png" alt="Vue" class="card pb-5 bg-transparent">
                        <h3>VueJS</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/github.png" alt="Github" class="card pb-5 bg-transparent">
                        <h3>Github</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/sass.png" alt="SASS" class="card pb-5 bg-transparent">
                        <h3>SASS</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/bootstrap.png" alt="Bootstrap" class="card pb-5 bg-transparent">
                        <h3>Bootstrap</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/typescript.png" alt="Typescript" class="card pb-5 bg-transparent">
                        <h3>Typescript</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/react.png" alt="React" class="card pb-5 bg-transparent">
                        <h3>React</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/phyton.png" alt="Phyton" class="card pb-5 bg-transparent">
                        <h3>Phyton</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/java.png" alt="Java" class="card pb-5 bg-transparent">
                        <h3>Java</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/tailwind.png" alt="Tailwind" class="card pb-5 bg-transparent">
                        <h3>Tailwind</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/laravel.png" alt="Laravel" class="card pb-5 bg-transparent">
                        <h3>Laravel</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/php.png" alt="Php" class="card pb-5 bg-transparent">
                        <h3>PHP</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/nodejs.png" alt="NodeJS" class="card pb-5 bg-transparent">
                        <h3>NodeJS</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/docker.png" alt="Docker" class="card pb-5 bg-transparent">
                        <h3>Docker</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/aws.png" alt="AWS" class="card pb-5 bg-transparent">
                        <h3>AWS</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/postgresql.png" alt="MyPostgresql" class="card pb-5 bg-transparent">
                        <h3>Postgresql</h3>
                    </article>
                    <article class="cardDev px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/slack.png" alt="Slack" class="card pb-5 bg-transparent">
                        <h3>Slack</h3>
                    </article>
                </div>
            </div>
            <p class="anuncio">Si no encuentras lo que necesitas comunicate con nososotros 👇</p>
            <a href="contactus.html" class="contactanosDesarrolladores">Contactanos</a>
        </section>

         <!-- Diseñadores -->

         <section class="row cards text-center" id="contenedorDesign">
            <h3 class="col p-4 subtitle">Tecnologías diseñador UX/UI</h3>
            <div class="row mx-2 contenedorDesigners">

                <div class="row">
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ap.png" alt="Photoshop" class="card pb-5 bg-transparent">
                        <h3>Adobe Photoshop</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ai.png" alt="Illustrator" class="card pb-5 bg-transparent">
                        <h3>Adobe Illustrator</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/figma.png" alt="Figma" class="card pb-5 bg-transparent">
                        <h3>Figma</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/xd.png" alt="Adode xd" class="card pb-5 bg-transparent">
                        <h3>Adobe xd</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/sketch.png" alt="Sketch" class="card pb-5 bg-transparent">
                        <h3>Sketch</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ow.png" alt="Optimal Workshop" class="card pb-5 bg-transparent">
                        <h3>Optimal Workshop</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/whimsical.png" alt="Whimsical" class="card pb-5 bg-transparent">
                        <h3>Whimsical</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ae.png" alt="After Effects" class="card pb-5 bg-transparent">
                        <h3>After Effect</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/github.png" alt="Github" class="card pb-5 bg-transparent">
                        <h3>Github</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/invision.png" alt="Invision" class="card pb-5 bg-transparent">
                        <h3>Invision</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/trello.png" alt="Trello" class="card pb-5 bg-transparent">
                        <h3>Trello</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/jira.png" alt="Jira" class="card pb-5 bg-transparent">
                        <h3>Jira</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ux-research.png" alt="Research" class="card pb-5 bg-transparent">
                        <h3>UX Researh</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ux-writing.png" alt="Writing" class="card pb-5 bg-transparent">
                        <h3>UX Writing</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ui.png" alt="UI" class="card pb-5 bg-transparent">
                        <h3>UI</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/ux.png" alt="UX" class="card pb-5 bg-transparent">
                        <h3>UX</h3>
                    </article>
                </div>
                <div class="row">
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/brand-design.png" alt="Brand design" class="card pb-5 bg-transparent">
                        <h3>Brand Design</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/design-graphic.png" alt="Design graphic" class="card pb-5 bg-transparent">
                        <h3>Graphic Design</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/behance.png" alt="Behance" class="card pb-5 bg-transparent">
                        <h3>Behance</h3>
                    </article>
                    <article class="cardDesigners px-5 py-5 col d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/design-system.png" alt="Design System" class="card pb-5 bg-transparent">
                        <h3>Design System</h3>
                    </article>
                </div>
            </div>
            <p class="anuncio">Si no encuentras lo que necesitas comunicate con nososotros 👇</p>
            <a href="contactus.html" class="contactanosDiseñadores">Contactanos</a>
        </section>
    </main>

    <!-- Footer -->

    <footer class="footer">
        <div class="mainFooter">
            <section class="services">
                <a class="my-1" href="../index.html">
                    <img class="logo" src="../img/logo2.png" alt="Logo Delord">
                </a>
                <article class="apps">
                    <h4>Proximamente</h4>
                    <a href="https://play.google.com/store/games?hl=es_419&gl=US&pli=1" target="_blank"><img class="app mb-1" src="../img/playstore.png" alt="Play Store"></a>
                    <a href="https://www.apple.com/co/app-store/" target="_blank"><img class="app mb-1" src="../img/appstore.png" alt="App Store"></a>
                </article>
            </section>
            </section>
            <section class="footerMedium">
                <article class="news">
                    <label for="email" class="inscribir">Inscribete a nuestra Newsletter</label>
                    <div class="accion">
                        <input id="email" placeholder="Email" type="email">
                        <input class="btnAccion" type="submit">
                    </div>
                </article>
            </section>
            <nav class="menu">
                <ul>
                    <li><a class="categoria" href="../index.html">Inicio</a></li>
                    <li><a class="categoria" href="services.html">Servicios</a></li>
                    <li><a class="categoria" href="jobs.html">Empleos</a></li>
                    <li><a class="categoria" href="testimonies.html">Testimonios</a></li>
                    <li><a class="categoria" href="contactus.html">Contactanos</a></li>
                </ul>
            </nav>
        </div>
        <section class="containerSocialMedia">
            <ul class="socialMedia">
                <li>
                    <a href="https://es-la.facebook.com/" target="_blank" >
                        <img src="../img/facebook.png" alt="Logo facebook" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/" target="_blank">
                        <img src="../img/linkedin.png" alt="Logo linkedin" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank">
                        <img src="../img/twitter.png" alt="Logo twitter" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://discord.com/" target="_blank">
                        <img src="../img/discord.png" alt="Logo discord" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/" target="_blank">
                        <img src="../img/instagram.png" alt="Logo instagram" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://youtube.com/" target="_blank">
                        <img src="../img/youtube.png" alt="Logo youtube" class="iconLink">
                    </a>
                </li>
            </ul>
            <p>Desarrollado y hecho con 🧡 por Diego Marín | Medellín Colombia | 2023</p>
        </section>
    </footer>

    <!-- JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
