<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testimonios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts poppins and press start 2p-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="img/logo2.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="img/logo2.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="img/logo2.png" sizes="64x64"/>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Animations -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Normalize -->
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel='stylesheet'>
</head>
<body>

    <!-- Header -->

    <header class="header">
        <a class="logo" href="../index.html">
            <img class="logoDelord" src="../img/logo2.png" alt="Logo Delord">
        </a>
        <input id="menu" type="checkbox">
        <label for="menu">
            <img class="drawer" src="../img/drawer.png" alt="Menu">
        </label>
        <nav class="menu" >
            <label for="menu">
                <img class="close" src="../img/close.png" alt="Cerrar">
            </label>
            <ul class="my-4 mx-4">
                <li><a class="categoria py-4 px-4" href="../index.html"><img class="item" src="../img/home.png" alt="Home">Inicio</a></li>
                <li><a class="categoria py-4 px-4" href="services.html"><img class="item" src="../img/service.png" alt="Servicio">Servicios</a></li>
                <li><a class="categoria py-4 px-4" href="jobs.html"><img class="item" src="../img/job.png" alt="Empleo">Empleos</a></li>
                <li><a class="categoria py-4 px-4" href="testimonies.html"><img class="item" src="../img/testimony.png" alt="Testimonio">Testimonios</a></li>
                <li><a class="categoria py-4 px-4" href="contactus.html"><img class="item" src="../img/contact.png" alt="contacto">Contactanos</a></li>
            </ul>
            <section class="socialMedia">
                <a href="https://es-la.facebook.com/" target="_blank" >
                    <img src="../img/facebook.png" alt="Logo facebook" class="iconLink">
                </a>
                <a href="https://linkedin.com/" target="_blank">
                    <img src="../img/linkedin.png" alt="Logo linkedin" class="iconLink">
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img src="../img/twitter.png" alt="Logo twitter" class="iconLink">
                </a>
                <a href="https://discord.com/" target="_blank">
                    <img src="../img/discord.png" alt="Logo discord" class="iconLink">
                </a>
                <a href="https://instagram.com/" target="_blank">
                    <img src="../img/instagram.png" alt="Logo instagram" class="iconLink">
                </a>
                <a href="https://youtube.com/" target="_blank">
                    <img src="../img/youtube.png" alt="Logo youtube" class="iconLink">
                </a>
            </section>
        </nav>
    </header>

    <!-- Main -->

    <main class="contenedor">

          <!-- Social Media -->

        <section class="socialMediaUno">
            <a class="mt-1" href="https://es-la.facebook.com/" target="_blank" >
                <img src="../img/facebook.png" alt="Logo facebook" class="iconLink">
            </a>
            <a class="mt-1" href="https://linkedin.com/" target="_blank">
                <img src="../img/linkedin.png" alt="Logo linkedin" class="iconLink">
            </a>
            <a class="mt-1" href="https://twitter.com/" target="_blank">
                <img src="../img/twitter.png" alt="Logo twitter" class="iconLink">
            </a>
            <a class="mt-1" href="https://discord.com/" target="_blank">
                <img src="../img/discord.png" alt="Logo discord" class="iconLink">
            </a>
            <a class="mt-1" href="https://instagram.com/" target="_blank">
                <img src="../img/instagram.png" alt="logo instagram" class="iconLink">
            </a>
            <a class="mt-1" href="https://youtube.com/" target="_blank">
                <img src="../img/youtube.png" alt="Logo youtube" class="iconLink">
            </a>
        </section>

        <!-- ArrowUp -->

        <section class="arrowUp">
            <a class="arrow" href="#">
                <img src="../img/arrowup.png" alt="Flecha arriba">
            </a>
        </section>

        <!-- Testimonios -->

        <section class="containerTestimony">
            <article class="headline">
                <h3 class="subtitle mb-4">Experiencias DeLord</h3>
                <h4 class="paragraph">Quieres ver tu experiencia como
                    estos desarrolladores web y diseñadores UX/UI...
                </h4>
                <h3 class="promotion my-4"> ¡Postulate ya!!!</h3>
            </article>
            <div class="bundleOpinion">
                <div class="groupLine row">
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "Estoy impresionado por la calidad de las ofertas de trabajo
                                en esta página. Definitivamente, es la mejor plataforma para buscar
                                empleo en el campo de desarrollo web y diseño UX/UI."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user1.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Sofia C.</p>
                                <p>Dis.  UX/UI</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "Quiero agradecer a esta increíble página de empleo por haberme
                                ayudado a conseguir el trabajo de mis sueños como desarrollador web.
                                Después de meses de búsqueda infructuosa en otras plataformas, me uní
                                a este sitio y rápidamente noté la diferencia. Su interfaz amigable y
                                filtros de búsqueda precisos hicieron que encontrar ofertas relevantes
                                para mis habilidades y experiencia fuera pan comido. Además, recibí
                                notificaciones oportunas sobre nuevas oportunidades laborales, lo que
                                me permitió ser uno de los primeros candidatos en postularme a puestos
                                emocionantes. Sin duda, recomendaré esta página a todos mis colegas
                                desarrolladores en busca de su próxima oportunidad laboral."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user2.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Erick B.</p>
                                <p>Des. Fullstack</p>
                                <p>Lima, Per</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "No puedo contener mi emoción al compartir mi gratitud por esta maravillosa página de empleo.
                                Como diseñadora UX/UI, siempre me ha preocupado encontrar empleos que se ajusten a mis intereses
                                y talentos creativos. Sin embargo, encontré un empleo en una empresa líder en tecnología que coincide perfectamente con
                                mis ambiciones profesionales. Gracias a esta página, estoy emocionada de comenzar este nuevo capítulo
                                en mi carrera."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user3.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Samanta N.</p>
                                <p>Dis. UX/UI</p>
                                <p>Medellín, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="groupLine row">
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "No puedo expresar lo agradecido que estoy por haber encontrado esta página de empleo.
                                Como desarrollador web con años de experiencia, había probado varias plataformas en
                                busca de nuevas oportunidades laborales sin resultados satisfactorios. Sin embargo,
                                una vez que me registré en esta página, quedé asombrado por la cantidad de ofertas
                                de trabajo relevantes disponibles."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user4.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Carlos E.</p>
                                <p>Des. Fullstack</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "Me encantó cómo los filtros de búsqueda me permitieron refinar mis opciones y
                                concentrarme en los empleos que realmente me interesaban. Gracias a la exposición
                                que recibí a través de esta plataforma, recibí múltiples ofertas y finalmente
                                encontré el empleo ideal en una empresa que valora mi experiencia y habilidades.
                                No tengo ninguna duda en recomendar esta página a todos los desarrolladores web
                                que busquen avanzar en sus carreras."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user5.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Maria C.</p>
                                <p>Des. Fullstack</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "Siendo una apasionado del diseño UX/UI, siempre me esfuerzo por encontrar
                                empleos que me permitan explorar mi creatividad y contribuir a proyectos significativos.
                                Si eres un diseñador UX/UI en busca de una plataforma confiable para
                                encontrar empleo, no busques más; esta página es tu mejor opción."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user6.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Esteban F.</p>
                                <p>Dis. UX/UI</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="groupLine row">
                    <div class="cardOpinionShort col-4">
                        <rticle class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </rticle>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "El proceso de registro fue sencillo, y pude personalizar mi perfil para resaltar
                                mi enfoque en la experiencia del usuario y mi enfoque centrado en el diseño.
                                Gracias a la plataforma, pude conectarme con una amplia red de empresas en
                                busca de desarrolladores como yo. Las oportunidades laborales que encontré aquí
                                eran exactamente lo que estaba buscando, y finalmente conseguí un empleo en
                                una empresa innovadora donde puedo aplicar mis habilidades y conocimientos
                                para crear experiencias excepcionales para los usuarios."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user7.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Nora V.</p>
                                <p>Dis. UX/UI</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "La página de empleo ofrece una gran variedad de oportunidades para diseñadores
                                UX/UI, lo que facilitó mi búsqueda de empleo."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user8.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Arnold O.</p>
                                <p>Dis. UI</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                    <article class="opinionTop">
                        <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                        <img src="../img/rating.png" alt="Rating" class="rating">
                    </article>
                    <article class="opinionMedium">
                        <p class="paragraph">
                            "Después de varios intentos fallidos en otras plataformas, finalmente
                            encontré un empleo como desarrollador web a través de esta página.
                            ¡Funcionó para mí!"
                        </p>
                    </article>
                    <article class="opinionBottom">
                        <img src="../img/user9.svg" alt="Usuario" class="user">
                        <div class="data">
                            <p>Sasha M.</p>
                            <p>Des. Fullstack</p>
                            <p>Bogota, Col</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://es-la.facebook.com/" target="_blank" >
                                <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                            </a>
                            <a href="./error404.html" target="_blank">
                                <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                            </a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="groupLine row">
                <div class="cardOpinionShort col-4">
                    <article class="opinionTop">
                        <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                        <img src="../img/rating.png" alt="Rating" class="rating">
                    </article>
                    <article class="opinionMedium">
                        <p class="paragraph">
                            "Gracias a esta página de empleo, conseguí el empleo de diseñador UX en una empresa líder en tecnología.
                            La plataforma facilitó la conexión con empleadores y me permitió mostrar mi portafolio a una audiencia más amplia.
                            ¡Fue realmente útil!"
                        </p>
                    </article>
                    <article class="opinionBottom">
                        <img src="../img/user10.svg" alt="Usuario" class="user">
                        <div class="data">
                            <p>Kevin A.</p>
                            <p>Dis. UX</p>
                            <p>Bogota, Col</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://es-la.facebook.com/" target="_blank" >
                                <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                            </a>
                            <a href="./error404.html" target="_blank">
                                <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                            </a>
                        </div>
                    </article>
                </div>
                <div class="cardOpinionShort col-4">
                    <article class="opinionTop">
                        <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                        <img src="../img/rating.png" alt="Rating" class="rating">
                    </article>
                    <article class="opinionMedium">
                        <p class="paragraph">
                            "Recomendaría esta página a cualquier desarrollador web o diseñador
                            UX/UI en busca de empleo. Es una herramienta esencial en el mercado
                            laboral actual."
                        </p>
                    </article>
                    <article class="opinionBottom">
                        <img src="../img/user11.svg" alt="Usuario" class="user">
                        <div class="data">
                            <p>Bryan G.</p>
                            <p>Des. Fullstack</p>
                            <p>Cali, Col</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://es-la.facebook.com/" target="_blank" >
                                <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                            </a>
                            <a href="./error404.html" target="_blank">
                                <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                            </a>
                        </div>
                    </article>
                </div>
                <div class="cardOpinionShort col-4">
                    <article class="opinionTop">
                        <img src="../img/quotation-mark.png" alt="Acotacion" class="quotationMark">
                        <img src="../img/rating.png" alt="Compartir" class="rating">
                    </article>
                    <article class="opinionMedium">
                        <p class="paragraph">
                            "Como diseñadora UI/UX recién graduado, esta página me ayudó a
                            encontrar oportunidades que se ajustaban a mis habilidades y aspiraciones profesionales.
                            No podría estar más contento con mi experiencia en la página de empleo.
                            Encontré el trabajo perfecto y estoy emocionada de comenzar."
                        </p>
                    </article>
                    <article class="opinionBottom">
                        <img src="../img/user12.svg" alt="Usuario" class="user">
                        <div class="data">
                            <p>Carolina G.</p>
                            <p>Dis. UX/UI</p>
                            <p>Bogota, Col</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://es-la.facebook.com/" target="_blank" >
                                <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                            </a>
                            <a href="./error404.html" target="_blank">
                                <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                            </a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="groupLine row">
                <div class="cardOpinionShort col-4">
                    <article class="opinionTop">
                        <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                        <img src="../img/rating.png" alt="Rating" class="rating">
                    </article>
                    <article class="opinionMedium">
                        <p class="paragraph">
                            "La interfaz de la página es súper fácil de usar y me permitió encontrar
                            ofertas de trabajo relevantes para mi experiencia como desarrollador web.
                            Gracias a esta página, mi búsqueda de empleo como desarrolladora web fue exitosa.
                            Me siento emocionada por el futuro que me espera."
                        </p>
                    </article>
                    <article class="opinionBottom">
                        <img src="../img/user13.svg" alt="Usuario" class="user">
                        <div class="data">
                            <p>Claudia L.</p>
                            <p>Des. Fullstack</p>
                            <p>Lima, Per</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://es-la.facebook.com/" target="_blank" >
                                <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                            </a>
                            <a href="./error404.html" target="_blank">
                                <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                            </a>
                        </div>
                    </article>
                </div>
                <div class="cardOpinionShort col-4">
                    <article class="opinionTop">
                        <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                        <img src="../img/rating.png" alt="Rating" class="rating">
                    </article>
                    <article class="opinionMedium">
                        <p class="paragraph">
                            "Para mí, esta página de empleo ha sido una verdadera joya en mi
                            trayectoria profesional como diseñadora UX/UI. La plataforma me
                            proporcionó una amplia gama de oportunidades, tanto en términos
                            de proyectos como de ubicaciones geográficas. Gracias a esta página,
                            encontré un empleo en una empresa con una cultura de diseño centrada
                            en el usuario, y estoy emocionada de ser parte de su equipo."
                        </p>
                    </article>
                    <article class="opinionBottom">
                        <img src="../img/user14.svg" alt="Usuario" class="user">
                        <div class="data">
                            <p>Sofy L.</p>
                            <p>Dis. UX/UI</p>
                            <p>Quito, Ecu</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://es-la.facebook.com/" target="_blank" >
                                <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <img src="../img/linkedin.png" alt="LInkedin" class="iconLink">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                            </a>
                            <a href="./error404.html" target="_blank">
                                <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                            </a>
                        </div>
                    </article>
                </div>
                <div class="cardOpinionShort col-4">
                    <article class="opinionTop">
                        <img src="../img/quotation-mark.png" alt="Acotacion" class="quotationMark">
                        <img src="../img/rating.png" alt=Rating" class="rating">
                    </article>
                    <article class="opinionMedium">
                        <p class="paragraph">
                            "En mi experiencia como diseñador UX/UI, puedo afirmar que esta página
                            de empleo es la mejor opción para aquellos que buscan empleos en el campo
                            del diseño digital. Su enfoque en la experiencia del usuario también se
                            refleja en la facilidad de uso de la plataforma. Me gustó cómo pude presentar
                            mi trabajo y habilidades de manera atractiva a través de mi perfil, lo que
                            generó más interés por parte de los empleadores. Gracias a esta página,
                            pude obtener un empleo como diseñador UX/UI en una agencia de renombre donde puedo
                            contribuir a proyectos emocionantes y en constante evolución. Sin duda,
                            es una herramienta que recomendaré a mis colegas diseñadores."
                        </p>
                    </article>
                    <article class="opinionBottom">
                        <img src="../img/user15.svg" alt="Usuario" class="user">
                        <div class="data">
                            <p>Hyroshi C.</p>
                            <p>Dis. UX/UI</p>
                            <p>Buenos Aires, Arg</p>
                        </div>
                        <div class="socialMedia">
                            <a href="https://es-la.facebook.com/" target="_blank" >
                                <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                            </a>
                            <a href="https://linkedin.com/" target="_blank">
                                <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                            </a>
                            <a href="./error404.html" target="_blank">
                                <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                            </a>
                        </div>
                    </article>
                </div>
                </div>
                <div class="groupLine row">
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotacion" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "No puedo evitar compartir mi gratitud por esta plataforma de empleo
                                para diseñadores UX/UI. Me mudé a un nuevo país y necesitaba encontrar
                                empleo rápidamente. Gracias a esta página, pude conectarme con empresas
                                locales y descubrir oportunidades laborales que se adaptaban a mis
                                habilidades y objetivos profesionales. El proceso de solicitud fue
                                eficiente y pude coordinar entrevistas sin complicaciones."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user16.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Carlos C.</p>
                                <p>Dis. UX/UI</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "Como desarrolladora backcend recién graduada, encontrar mi primer empleo en
                                el campo parecía un desafío desalentador. Sin embargo, esta página
                                de empleo cambió todo eso para mí. La plataforma me brindó una visión
                                completa de las oportunidades disponibles y me permitió presentar mi
                                trabajo y proyectos de una manera atractiva para los empleadores."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user17.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Daniela O.</p>
                                <p>Des. Backend</p>
                                <p>Lima, Per</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                            "La comunidad en la plataforma me hizo sentir parte de una comunidad de
                                diseñadores, donde pude aprender de otros profesionales y compartir mis
                                conocimientos. A través de esta página, conseguí mi primer empleo como
                                diseñadora UX/UI en una empresa que me da la oportunidad de aprender y
                                crecer en mi carrera. Estoy emocionada por el futuro que me espera, y
                                le doy crédito a esta página por hacerlo posible."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user18.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Alexa R.</p>
                                <p>Dis. UX/UI</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="FAcebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="groupLine row">
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                            "Recomendaría esta página de empleo a todos los desarrolladores
                            web que busquen un cambio significativo en sus carreras.
                                Me sorprendió gratamente la cantidad de ofertas de trabajo
                                disponibles, tanto para desarrolladores principiantes como
                                para profesionales con experiencia.
                                Además, la plataforma me permitió mostrar mi portafolio y
                                proyectos previos de una manera atractiva, lo que definitivamente
                                llamó la atención de los empleadores."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user19.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Daniella C.</p>
                                <p>Des. Backend</p>
                                <p>Medellín, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="cardOpinionShort col-4">
                        <article class="opinionTop">
                            <img src="../img/quotation-mark.png" alt="Acotación" class="quotationMark">
                            <img src="../img/rating.png" alt="Rating" class="rating">
                        </article>
                        <article class="opinionMedium">
                            <p class="paragraph">
                                "Esta página de empleo para desarrolladores web ha sido un salvavidas
                                en mi búsqueda laboral. Como profesional experimentada en el campo,
                                valoro mucho la calidad de las ofertas y la relevancia de las oportunidades.
                                Con esta plataforma, no solo encontré una amplia variedad de empleos,
                                sino que también pude aplicar para enfocarme en el tipo de
                                trabajo que realmente me interesaba."
                            </p>
                        </article>
                        <article class="opinionBottom">
                            <img src="../img/user20.svg" alt="Usuario" class="user">
                            <div class="data">
                                <p>Erika A.</p>
                                <p>Des. Frontend</p>
                                <p>Bogota, Col</p>
                            </div>
                            <div class="socialMedia">
                                <a href="https://es-la.facebook.com/" target="_blank" >
                                    <img src="../img/facebook.png" alt="Facebook" class="iconLink">
                                </a>
                                <a href="https://linkedin.com/" target="_blank">
                                    <img src="../img/linkedin.png" alt="Linkedin" class="iconLink">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../img/twitter.png" alt="Twitter" class="iconLink">
                                </a>
                                <a href="./error404.html" target="_blank">
                                    <img src="../img/compartir.png" alt="Compartir" class="iconLink">
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->

    <footer class="footer">
        <div class="mainFooter">
            <section class="services">
                <a  class="my-1" href="../index.html">
                    <img class="logo" src="../img/logo2.png" alt="Logo Delord">
                </a>
                <article class="apps">
                    <h4>Proximamente</h4>
                    <a href="https://play.google.com/store/games?hl=es_419&gl=US&pli=1" target="_blank"><img class="app mb-1" src="../img/playstore.png" alt="Play Store"></a>
                    <a href="https://www.apple.com/co/app-store/" target="_blank"><img class="app mb-1" src="../img/appstore.png" alt="App Store"></a>
                </article>
            </section>
            <section class="footerMedium">
                <article class="news">
                    <label for="email" class="inscribir">Inscribete a nuestra Newsletter</label>
                    <div class="accion">
                        <input id="email" placeholder="Email" type="email">
                        <input class="btnAccion" type="submit">
                    </div>
                </article>
            </section>
            <nav class="menu">
                <ul>
                    <li><a class="categoria" href="../index.html">Inicio</a></li>
                    <li><a class="categoria" href="services.html">Servicios</a></li>
                    <li><a class="categoria" href="jobs.html">Empleos</a></li>
                    <li><a class="categoria" href="testimonies.html">Testimonios</a></li>
                    <li><a class="categoria" href="contactus.html">Contactanos</a></li>
                </ul>
            </nav>
        </div>
        <section class="containerSocialMedia">
            <ul class="socialMedia">
                <li>
                    <a href="https://es-la.facebook.com/" target="_blank" >
                        <img src="../img/facebook.png" alt="Logo facebook" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/" target="_blank">
                        <img src="../img/linkedin.png" alt="Logo linkedin" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank">
                        <img src="../img/twitter.png" alt="Logo twitter" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://discord.com/" target="_blank">
                        <img src="../img/discord.png" alt="Logo discord" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/" target="_blank">
                        <img src="../img/instagram.png" alt="Logo instagram" class="iconLink">
                    </a>
                </li>
                <li>
                    <a href="https://youtube.com/" target="_blank">
                        <img src="../img/youtube.png" alt="Logo youtube" class="iconLink">
                    </a>
                </li>
            </ul>
            <p>Desarrollado y hecho con 🧡 por Diego Marín | Medellín Colombia | 2023</p>
        </section>
    </footer>

    <!-- JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Animations -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>
